{% extends "govuk_frontend_jinja/template.html" %}

{%- from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner -%}
{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}
{%- from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader -%}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block pageTitle %}{{ config['SERVICE_NAME'] }} – GOV.UK{% endblock pageTitle %}

{% block head %}
  <meta name="description" content="{{ config['SERVICE_NAME'] }}">
  <meta name="keywords" content="GOV.UK, govuk, gov, government, uk, frontend, ui, user interface, jinja, python, flask, port, template, templating, macro, component, design system, html, forms, wtf, wtforms, widget, widgets, demo, example">
  <meta name="author" content="{{ config['DEPARTMENT_NAME'] }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-4.7.0.min.css') }}" />
  {% assets "css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{% endblock head %}

{% block header %}
  {% if g.user %}
    {{ govukHeader({
      'homepageUrl': url_for('main.index'),
      'serviceUrl': url_for('main.index'),
      'navigation': [
      {
        'href': url_for('main.index'),
        'text': config['SERVICE_NAME'],
      },
      {
        'href': config['AUTHENTICATOR_HOST'] + "/sso/logout",
        'text': 'Sign out',
      },
    ]
    }) }}
  {% else %}
    {{ govukHeader({
      'homepageUrl': url_for('main.index'),
      'serviceUrl': url_for('main.index'),
      'navigation': [
      {
        'href': url_for('main.index'),
        'text': config['SERVICE_NAME'],
      },
    ]
    }) }}
  {% endif %}
{% endblock header %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    'tag': {
      'text': config['SERVICE_PHASE']
    },
    'html': 'This is a new service – your <a class="govuk-link" href="mailto:' + config['CONTACT_EMAIL'] +'?subject=Feedback">feedback</a> will help us to improve it.'
  }) }}

{% endblock beforeContent %}

{% block footer %}
  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
        </div>
      </div>
    </div>
  </footer>

{% endblock footer %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='govuk-frontend-4.7.0.min.js') }}"> </script>
  <script>window.GOVUKFrontend.initAll()</script>
  <!--<![endif]-->
  {% assets "js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock bodyEnd %}
