{% macro file_formats() %}
    <ul class="govuk-list--bullet govuk-list">
        <li>
            jpg
        </li>
        <li>
            jpeg
        </li>
        <li>
            png
        </li>
        <li>
            pdf
        </li>
        <li>
            txt
        </li>
        <li>
            doc
        </li>
        <li>
            docx
        </li>
        <li>
            odt
        </li>
        <li>
            csv
        </li>
        <li>
            xls
        </li>
        <li>
            xlsx
        </li>
        <li>
            ods
        </li>
    </ul>
{% endmacro %}
