.govuk-footer__copyright-logo {
    background-image: url("/static/govuk-frontend/images/govuk-crest.png")
}


.govuk-footer__meta {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
}

.govuk-fieldset__legend {
    font-weight: bold;
}

.global-actions {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 40.0625em) {
    .govuk-main-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
      }
}


.scrollable-checkboxes {
    max-height: 250px;
    overflow-y: auto;
  }


.card {
  background-color: #f3f2f1;
  padding: 16px;
  margin: 16px 0;
}


.green-button {
    background-color: #00703c;
    width: 100%;
}

.green-button:hover {
    background-color: #005a30;
}
