#-----------------------------------
#   Utils
#-----------------------------------
funding-service-design-utils<=2.1.0

notifications-python-client==8.1.0

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==2.2.5
Flask-wtf==1.1.1
ccs-govuk-frontend-jinja @ git+https://github.com/tim-s-ccs/ccs-govuk-frontend-jinja@1.1.1
# govuk-frontend-jinja>=2.0.0,<3.0.0
govuk-frontend-wtf>=2.0.0,<3.0.0

# flask-admin
flask-admin @ git+https://github.com/samuelhwilliams/flask-admin@add-host-support

#-----------------------------------
#   Assets
#-----------------------------------
flask-vite

#-----------------------------------
#   Excel Ingestion and Output
#-----------------------------------
pandas==1.5.*
openpyxl==3.1.*
XlsxWriter==3.1.*

#-----------------------------------
#   SQLAlchemy
#-----------------------------------
SQLAlchemy>=2.0.9<=2.1.0
Flask-SQLAlchemy==3.0.*
psycopg2-binary
marshmallow-sqlalchemy
sqlalchemy-json


#-----------------------------------
#   tables
#-----------------------------------
pandera==0.17.*


#-----------------------------------
#   monitoring and observability
#-----------------------------------
sentry-sdk
