-r requirements.txt

debugpy
pydot==1.4.2  # ERD diagram

#-----------------------------------
#   Testing
#-----------------------------------
pytest
pytest-env
pytest-mock

#-----------------------------------
#   Code Quality
#-----------------------------------
pre-commit
ruff==0.4.4  # If bumping this, please also bump .pre-commit-config.yml


#-----------------------------------
#   developer experience
#-----------------------------------
flask-debugtoolbar
# flask-debugtoolbar @ git+https://github.com/samuelhwilliams/flask-debugtoolbar@host-support
