-r requirements.txt

debugpy
pydot==1.4.2  # ERD diagram

#-----------------------------------
#   Testing
#-----------------------------------
pytest
pytest-env
pytest-mock

#-----------------------------------
#   Code Quality
#-----------------------------------
mypy==1.10.0  # If bumping this, please also bump .pre-commit-config.yml
pandas-stubs
sqlalchemy-stubs
types-beautifulsoup4
types-colorama
types-flask
types-Flask-Migrate
types-jmespath
types-openpyxl
types-psycopg2
types-python-dateutil
types-Pygments
types-PyMySQL
types-PyYAML
types-requests
types-setuptools
types-flask-sqlalchemy

pre-commit
ruff==0.4.4  # If bumping this, please also bump .pre-commit-config.yml
