#-----------------------------------
#   Utils
#-----------------------------------
funding-service-design-utils<=1.1.0

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==2.2.3

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion[swagger-ui]==2.14.1
prance==0.22.*
openapi-spec-validator==0.5.*

#-----------------------------------
#   Excel Ingestion
#-----------------------------------
pandas==1.5.*
openpyxl==3.1.*
