ul li.no-bullet-point {
  list-style-type: none;
}

.app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (min-width: 40.0625em) {
    .app-task-list {
      min-width: 550px;
    }
  }

  .app-task-list__section {
    display: table;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
  }
  @media print {
    .app-task-list__section {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .app-task-list__section {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25;
    }
  }
  @media print {
    .app-task-list__section {
      font-size: 18pt;
      line-height: 1.15;
    }
  }

  .app-task-list__section-number {
    display: table-cell;
  }
  @media (min-width: 40.0625em) {
    .app-task-list__section-number {
      min-width: 30px;
      padding-right: 0;
    }
  }

  .app-task-list__items {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
  }
  @media print {
    .app-task-list__items {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .app-task-list__items {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }
  @media print {
    .app-task-list__items {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  @media (min-width: 40.0625em) {
    .app-task-list__items {
      margin-bottom: 60px;
    }
  }
  @media (min-width: 40.0625em) {
    .app-task-list__items {
      padding-left: 0px;
    }
  }

  .app-task-list__item {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .app-task-list__item:after {
    content: "";
    display: block;
    clear: both;
  }

  .app-task-list__item:first-child {
    border-top: 1px solid #b1b4b6;
  }

  .app-task-list__task-name {
    display: block;
  }
  @media (min-width: 28.125em) {
    .app-task-list__task-name {
      float: left;
    }
  }

  .app-task-list__tag,
  .app-task-list__task-completed {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  @media (min-width: 28.125em) {
    .app-task-list__tag,
    .app-task-list__task-completed {
      float: right;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .assessment-alert {
    margin-left: 14px;
    border-left: 10px solid #2b8cc4;
    background-color: #dbeff9;
    padding: 1px 15px;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
  }


.govuk-tag.incomplete-tag-new,
.govuk-tag.in-progress-tag-new,
.govuk-tag.not-started-tag,
.govuk-tag.complete-tag {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1;
  font-weight: 400;
  font-size: 19px;
  padding: 2px 4px;
  letter-spacing: normal;
  text-transform: capitalize;
}

.govuk-tag.incomplete-tag-new,
.govuk-tag.in-progress-tag-new {
  color: #0c2d4a;
  background-color: #c7dbed;
}

.govuk-tag.not-started-tag {
  color: #282d30;
  background-color: #e5e6e7;
}

.govuk-tag.complete-tag {
  background-color: white;
  color: #0b0c0c;
}

.signout {
  padding-left: 0px;
  margin-top: 0px;
}

dt.dl-inline {
  display: inline;
}

dt.dl-inline:before {
  content:"";
  display:block;
}

dt.dl-inline + dd {
  display: inline-block;
  margin-left: 0em;
  clear:right;
}

.header-pointer-events-none {
  pointer-events: none;
}

.display-none-visibility-hidden {
  display:none;
  visibility:hidden;
}

.max-width-none {
  max-width: none;
}

.signout_button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

.signout_button:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
