-r requirements.txt

debugpy
pip-tools==6.14.0

#-----------------------------------
#   pre-commit hooks
#-----------------------------------

ruff
pep8-naming==0.13.3
pur==7.1.0
mypy

#-----------------------------------
#   Testing
#-----------------------------------

pytest
pytest_env
pytest-mock
pytest-cov==4.1.0
requests_mock==1.11.0
