
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{ fund_title }}{% endtrans %} {% trans %}{{ round_title }}{% endtrans %}
        </span>
        <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m ">
    {% trans %}Table of contents{% endtrans %}
  </h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#expression-of-interest">
        Expression of interest
      </a>
    </li>
  </ol>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="expression-of-interest">
    1. Expression of interest
  </h2>
  <h3 class="govuk-heading-m">
    1.1. Organisation details
  </h3>
  <h4 class="govuk-heading-s">
    1.1.1. Organisation name
  </h4>
  <p class="govuk-body">
    This must match your registered legal organisation name.
  </p>
  <p class="govuk-body">
    Does your organisation have any alternative names?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.1.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.1.1.2. Alternative names of your organisation
  </h4>
  <p class="govuk-body">
    Alternative name 1
  </p>
  <p class="govuk-body">
    Alternative name 2
  </p>
  <p class="govuk-body">
    Alternative name 3
  </p>
  <h4 class="govuk-heading-s">
    1.1.2. Organisation address
  </h4>
  <h4 class="govuk-heading-s">
    1.1.3. How your organisation is classified
  </h4>
  <p class="govuk-body">
    Select one
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Charitable incorporated organisation (CIO)
    </li>
    <li>
      Co-operative (for example, a community benefit society)
    </li>
    <li>
      Community interest company (CIC)
    </li>
    <li>
      Company limited by guarantee
    </li>
    <li>
      Scottish charitable incorporate organisation (SCIO)
    </li>
    <li>
      Parish, town and community councils
    </li>
    <li>
      Trust port
    </li>
    <li>
      Not yet incorporated
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.1.4. Is your organisation subject to any insolvency actions?
  </h4>
  <h3 class="govuk-heading-m">
    1.2. About your asset
  </h3>
  <h4 class="govuk-heading-s">
    1.2.1. Does your organisation plan both to receive the funding and run the project?
  </h4>
  <p class="govuk-body">
    We expect organisations applying for COF funding to manage the day-to-day running of the asset. This is so we know the applying organisation can run a sustainable business in community hands.
  </p>
  <h4 class="govuk-heading-s">
    1.2.2. Type of asset
  </h4>
  <p class="govuk-body">
    Select the main way the asset will be used. For example, if it's a theatre that also has a cafe, select 'theatre'.
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Community centre
    </li>
    <li>
      Cinema
    </li>
    <li>
      Gallery
    </li>
    <li>
      Museum
    </li>
    <li>
      Music venue
    </li>
    <li>
      Park
    </li>
    <li>
      Post office building
    </li>
    <li>
      Pub
    </li>
    <li>
      Shop
    </li>
    <li>
      Sporting or leisure facility
    </li>
    <li>
      Theatre
    </li>
    <li>
      Other
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.2.3. Is the asset based in the UK?
  </h4>
  <h4 class="govuk-heading-s">
    1.2.4. Address of the asset
  </h4>
  <p class="govuk-body">
    Name of the asset
  </p>
  <h4 class="govuk-heading-s">
    1.2.5. Is the asset at risk?
  </h4>
  <p class="govuk-body">
    This means that the asset is at risk of being lost to the community from:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      closure or end of lease
    </li>
    <li>
      neglect or dereliction
    </li>
    <li>
      an unsustainable current business model
    </li>
    <li>
      being for sale
    </li>
    <li>
      being listed for disposal
    </li>
    <li>
      being part of a community asset transfer
    </li>
  </ul>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.2.5.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.2.5.1. What is the risk to the asset?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Closure or end of lease
    </li>
    <li>
      Neglect or dereliction
    </li>
    <li>
      Unsustainable current business model
    </li>
    <li>
      Sale
    </li>
    <li>
      Listed for disposal
    </li>
    <li>
      Part of a community asset transfer
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.2.6. Has the asset ever been used by or had significance to the community?
  </h4>
  <p class="govuk-body">
    Community use/significance could relate to (but is not limited to):
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      community centres
    </li>
    <li>
      shops
    </li>
    <li>
      sporting and leisure facilities
    </li>
    <li>
      pubs and restaurants
    </li>
    <li>
      cultural buildings
    </li>
    <li>
      heritage buildings
    </li>
  </ul>
  <p class="govuk-body">
    The asset could have been used by the community at any point in time.
  </p>
  <p class="govuk-body">
    Even if you plan to relocate or rebuild assets that were formerly used by the community, select 'yes'.
  </p>
  <h4 class="govuk-heading-s">
    1.2.7. Do you already own the asset?
  </h4>
  <p class="govuk-body">
    If 'No', go to <strong>1.2.7.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.2.7.1. Does the asset belong to a public authority?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Yes, a town, parish or community council
    </li>
    <li>
      Yes, another type of public authority
    </li>
    <li>
      No, it does not belong to a public authority
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.2.7.2. Select the option which best represents the stage you are at in purchasing the asset
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Do not know who owner is
    </li>
    <li>
      Know who owner is but have not approached
    </li>
    <li>
      Early stage negotiations
    </li>
    <li>
      Advanced stage negotiations
    </li>
  </ul>
  <h3 class="govuk-heading-m">
    1.3. Your funding request
  </h3>
  <h4 class="govuk-heading-s">
    1.3.1. What do you plan to use COF's funding for?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Buy a leasehold
    </li>
    <li>
      Renovate a leasehold
    </li>
    <li>
      Buy a freehold
    </li>
    <li>
      Renovate a freehold
    </li>
  </ul>
  <p class="govuk-body">
    If 'Buy a leasehold', go to <strong>1.3.1.1</strong>
  </p>
  <p class="govuk-body">
    If 'Buy a freehold', go to <strong>1.3.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.3.1.1. Will the leasehold have at least 15 years when your organisation submits a full application?
  </h4>
  <h4 class="govuk-heading-s">
    1.3.2. How much capital funding are you requesting from COF?
  </h4>
  <p class="govuk-body">
    Capital costs are the costs of buying or leasing your asset and paying for refurbishment. You can apply for up to £2 million (£2000000) in capital costs from COF.
  </p>
  <p class="govuk-body">
    Enter the amount using only numerals, for example, 1500000
  </p>
  <h4 class="govuk-heading-s">
    1.3.3. Do you plan to request any revenue funding?
  </h4>
  <p class="govuk-body">
    Revenue costs go towards running the asset once you've taken ownership of it. This might include general costs, including for:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      utilities
    </li>
    <li>
      staffing
    </li>
  </ul>
  <p class="govuk-body">
    You can apply for up to 20% of your capital funding request or £50,000, whichever is smaller.
  </p>
  <h4 class="govuk-heading-s">
    1.3.4. Do you plan to secure match funding? (either cash or in-kind)
  </h4>
  <p class="govuk-body">
    Match funding means funding covered by you or another funder. This can be cash, or in-kind (non-cash, for example, donations of goods or services).
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.3.4.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.3.4.1. Where do you plan to source match funding?
  </h4>
  <p class="govuk-body">
    See Section 9 of the COF prospectus for details on match funding requirements and eligible types of match funding.
  </p>
  <p class="govuk-body">
    This can include both in-kind and cash match funding.
  </p>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Donation of professional services
    </li>
    <li>
      Donation of goods
    </li>
    <li>
      Discount on freehold/leasehold
    </li>
    <li>
      Fundraising in your community
    </li>
    <li>
      Your own financial resources
    </li>
    <li>
      Public bodies
    </li>
    <li>
      Devolved administrations
    </li>
    <li>
      Charities or trusts
    </li>
    <li>
      National lottery funders
    </li>
    <li>
      Community shares
    </li>
    <li>
      Social Investors
    </li>
    <li>
      Other Lenders
    </li>
    <li>
      Not sure
    </li>
  </ul>
  <p class="govuk-body">
    If 'Not sure', go to <strong>1.3.4.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.3.4.1.1. What progress have you made to secure this funding?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Not yet approached any funders
    </li>
    <li>
      Approached some funders but not yet secured
    </li>
    <li>
      Approached all funders but not yet secured
    </li>
    <li>
      Secured some match funding
    </li>
    <li>
      Secured all match funding
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.3.4.2. Does your project include an element of housing?
  </h4>
  <h4 class="govuk-heading-s">
    1.3.4.3. Will you need planning permission for your project?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Yes
    </li>
    <li>
      No
    </li>
    <li>
      Not sure
    </li>
  </ul>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.3.4.3.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.3.4.3.1. What stage are you at in securing planning permission?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Not yet started
    </li>
    <li>
      Early stage
    </li>
    <li>
      Late stage
    </li>
    <li>
      Already secured
    </li>
  </ul>
  <h3 class="govuk-heading-m">
    1.4. Development support provider
  </h3>
  <h4 class="govuk-heading-s">
    1.4.1. Do you wish to be contacted by the development support provider, if eligible for in-depth support?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Yes, I agree to be contacted if eligible
    </li>
    <li>
      No, I do not wish to be contacted
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.4.2. What are the main things you feel you need support with to submit a good COF application?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Writing a business plan
    </li>
    <li>
      Technical
    </li>
    <li>
      Financial forecasting
    </li>
    <li>
      Legal
    </li>
    <li>
      Housing
    </li>
    <li>
      Governance support
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.4.3. Describe your project and its aims
  </h4>
  <p class="govuk-body">
    (Max 250 words)
  </p>
  <h4 class="govuk-heading-s">
    1.4.4. Lead contact details
  </h4>
  <p class="govuk-body">
    Name of lead contact
  </p>
  <p class="govuk-body">
    Lead contact email address
  </p>
  <p class="govuk-body">
    Lead contact telephone number
  </p>
  <h3 class="govuk-heading-m">
    1.5. Declaration
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      I confirm the information I've provided is correct
    </li>
  </ul>
</div>
    </div>
</div>
{% endblock content %}
