
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{ fund_title }}{% endtrans %} {% trans %}{{ round_title }}{% endtrans %}
        </span>
        <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m ">
    {% trans %}Table of contents{% endtrans %}
  </h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#about-your-organisation">
        About your organisation
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#about-your-project">
        About your project
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#strategic-case">
        Strategic case
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#management-case">
        Management case
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#check-declarations">
        Check declarations
      </a>
    </li>
  </ol>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="about-your-organisation">
    1. About your organisation
  </h2>
  <h3 class="govuk-heading-m">
    1.1. Organisation information
  </h3>
  <h4 class="govuk-heading-s">
    1.1.1. Organisation names
  </h4>
  <p class="govuk-body">
    Your expression of interest (EOI) application reference
  </p>
  <p class="govuk-body">
    This was included in the email we sent you to confirm your successful EOI.
  </p>
  <p class="govuk-body">
    For example, 'COF-EOI-##-######'
  </p>
  <p class="govuk-body">
    Organisation name
  </p>
  <p class="govuk-body">
    This must match your registered legal organisation name
  </p>
  <p class="govuk-body">
    Does your organisation use any other names?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.1.1.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>1.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.1.1.1. Alternative names of your organisation
  </h4>
  <p class="govuk-body">
    Alternative names of your organisation
  </p>
  <p class="govuk-body">
    Alternative name 1
  </p>
  <p class="govuk-body">
    Alternative name 2 (optional)
  </p>
  <p class="govuk-body">
    Alternative name 3 (optional)
  </p>
  <h4 class="govuk-heading-s">
    1.1.2. Purpose and activities
  </h4>
  <p class="govuk-body">
    What is your organisation's main purpose?
  </p>
  <p class="govuk-body">
    This is what the organisation was set up to achieve.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Tell us about your organisation's main activities
  </p>
  <p class="govuk-body">
    Include any activities you undertake in order to achieve the organisation's purpose.
  </p>
  <p class="govuk-body">
    You must list at least one, and can include up to three.
  </p>
  <p class="govuk-body">
    Activity 1
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Activity 2 (optional)
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Activity 3 (optional)
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Have you delivered projects like this before?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.1.2.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>1.1.3</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.1.2.1. Previous projects similar to this one
  </h4>
  <p class="govuk-body">
    Describe your previous projects
  </p>
  <p class="govuk-body">
    Project 1
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Project 2 (optional)
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Project 3 (optional)
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    1.1.3. How your organisation is classified
  </h4>
  <p class="govuk-body">
    Type of organisation
  </p>
  <p class="govuk-body">
    Select one option
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Charitable incorporated organisation (CIO)
    </li>
    <li>
      Co-operative, such as a community benefit society
    </li>
    <li>
      Community interest company (CIC)
    </li>
    <li>
      Company limited by guarantee
    </li>
    <li>
      Scottish charitable incorporated organisation (SCIO)
    </li>
    <li>
      Parish, town or community council
    </li>
    <li>
      Trust port
    </li>
    <li>
      Other
    </li>
  </ul>
  <p class="govuk-body">
    If 'Other', go to <strong>1.1.3.1</strong>
  </p>
  <p class="govuk-body">
    If 'Co-operative, such as a community benefit society', go to <strong>1.1.3.2</strong>
  </p>
  <p class="govuk-body">
    If 'Charitable incorporated organisation (CIO)', go to <strong>1.1.3.3</strong>
  </p>
  <p class="govuk-body">
    If 'Parish, town or community council', go to <strong>1.1.4</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.1.3.1. How your organisation is classified
  </h4>
  <p class="govuk-body">
    Type of organisation (Other)
  </p>
  <h4 class="govuk-heading-s">
    1.1.3.2. Registration details
  </h4>
  <p class="govuk-body">
    Which regulatory body is your company registered with?
  </p>
  <p class="govuk-body">
    Select one option
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Companies House
    </li>
    <li>
      Other
    </li>
  </ul>
  <p class="govuk-body">
    If 'Other', go to <strong>1.1.3.2.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.1.3.2. Company registration details
  </h4>
  <p class="govuk-body">
    Company registration number
  </p>
  <h4 class="govuk-heading-s">
    1.1.3.2.1. About your organisation
  </h4>
  <p class="govuk-body">
    Registration details
  </p>
  <p class="govuk-body">
    Which regulatory body is your company registered with? (Other)
  </p>
  <h4 class="govuk-heading-s">
    1.1.3.3. Charity registration details
  </h4>
  <p class="govuk-body">
    Charity number
  </p>
  <h4 class="govuk-heading-s">
    1.1.4. Trading subsidiaries
  </h4>
  <p class="govuk-body">
    Is your organisation a trading subsidiary of a parent company?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.1.4.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>1.1.5</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.1.4.1. Parent organisation details
  </h4>
  <p class="govuk-body">
    Name of parent organisation
  </p>
  <p class="govuk-body">
    Date parent organisation was established
  </p>
  <p class="govuk-body">
    For example, 27 3 2007
  </p>
  <h4 class="govuk-heading-s">
    1.1.5. Organisation address
  </h4>
  <p class="govuk-body">
    Organisation address
  </p>
  <p class="govuk-body">
    Is your correspondence address different to the organisation address?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.1.5.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>1.1.6</strong>
  </p>
  <p class="govuk-body">
    Website and social media
  </p>
  <p class="govuk-body">
    For example, your company's Facebook, Instagram or Twitter accounts (if applicable)
  </p>
  <p class="govuk-body">
    Link 1
  </p>
  <p class="govuk-body">
    Link 2 (optional)
  </p>
  <p class="govuk-body">
    Link 3 (optional)
  </p>
  <h4 class="govuk-heading-s">
    1.1.5.1. Correspondence address
  </h4>
  <p class="govuk-body">
    Correspondence address
  </p>
  <h4 class="govuk-heading-s">
    1.1.6. Joint applications
  </h4>
  <p class="govuk-body">
    Is your application a joint bid in partnership with other organisations?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>1.1.6.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.1.6.1. Partner organisation details
  </h4>
  <p class="govuk-body">
    Partner organisation name
  </p>
  <p class="govuk-body">
    Partner organisation address
  </p>
  <p class="govuk-body">
    Tell us about your partnership and how you plan to work together
  </p>
  <p class="govuk-body">
    If you are working in partnership with more than one organisation, include their details here
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    1.2. Applicant information
  </h3>
  <h4 class="govuk-heading-s">
    1.2.1. Lead contact details
  </h4>
  <p class="govuk-body">
    Name of lead contact
  </p>
  <p class="govuk-body">
    They will receive all the information about this application.
  </p>
  <p class="govuk-body">
    Lead contact job title
  </p>
  <p class="govuk-body">
    Lead contact email address
  </p>
  <p class="govuk-body">
    Lead contact telephone number
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="about-your-project">
    2. About your project
  </h2>
  <h3 class="govuk-heading-m">
    2.1. Project information
  </h3>
  <h4 class="govuk-heading-s">
    2.1.1. Previous Community Ownership Fund applications
  </h4>
  <p class="govuk-body">
    Have you applied to the Community Ownership Fund before?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.1.1.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>2.1.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.1.1.1. Successful Community Ownership Fund applications
  </h4>
  <p class="govuk-body">
    Was your application successful?
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>2.1.1.2</strong>
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.1.1.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.1.1.1.2. Projects previously funded by the Community Ownership Fund
  </h4>
  <p class="govuk-body">
    Describe the project for which you were given funding
  </p>
  <p class="govuk-body">
    Include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      project name
    </li>
    <li>
      general project overview
    </li>
    <li>
      date you received funding
    </li>
  </ul>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Amount of funding received
  </p>
  <h4 class="govuk-heading-s">
    2.1.1.2. Project name and summary
  </h4>
  <p class="govuk-body">
    Project name
  </p>
  <p class="govuk-body">
    This is what your project will be called within your organisation and by the public.
  </p>
  <p class="govuk-body">
    Choose a name that describes your project. For example, the name of your asset, or a link to your asset's location.
  </p>
  <p class="govuk-body">
    Tell us how the asset is currently being used, or how it has been used before, and why it's important to the community
  </p>
  <p class="govuk-body">
    If it has already been lost to the community, tell us how it was used before closure.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Give a brief summary of your project, including what you hope to achieve
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Tell us about the planned activities and/or services that will take place in the asset
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    2.1.1.3. Address of the asset
  </h4>
  <p class="govuk-body">
    Address of the community asset
  </p>
  <p class="govuk-body">
     In which constituency is your asset?
  </p>
  <p class="govuk-body">
    In which local council area is your asset?
  </p>
  <h3 class="govuk-heading-m">
    2.2. Asset information
  </h3>
  <h4 class="govuk-heading-s">
    2.2.1. How the asset is used in the community
  </h4>
  <p class="govuk-body">
    Asset type
  </p>
  <p class="govuk-body">
    Select how the asset is mainly used. For example, if it is a theatre that also has a cafe, select 'Theatre'
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Community centre
    </li>
    <li>
      Cinema
    </li>
    <li>
      Gallery
    </li>
    <li>
      Museum
    </li>
    <li>
      Music venue
    </li>
    <li>
      Park
    </li>
    <li>
      Post office building
    </li>
    <li>
      Pub
    </li>
    <li>
      Shop
    </li>
    <li>
      Sporting or leisure facility
    </li>
    <li>
      Theatre
    </li>
    <li>
      Other
    </li>
  </ul>
  <p class="govuk-body">
    If 'Other', go to <strong>2.2.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.1.2. How the asset is used in the community
  </h4>
  <p class="govuk-body">
    Type of asset (other)
  </p>
  <h4 class="govuk-heading-s">
    2.2.2. The asset in community ownership
  </h4>
  <p class="govuk-body">
    How do you intend to take community ownership of the asset?
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Buy the asset
    </li>
    <li>
      Lease the asset
    </li>
    <li>
      Already owned by organisation
    </li>
    <li>
      Already leased by organisation
    </li>
  </ul>
  <p class="govuk-body">
    If 'Already owned by organisation', go to <strong>2.2.2.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.1. Risk of closure
  </h4>
  <p class="govuk-body">
    Why is the asset at risk of closure?
  </p>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Closure
    </li>
    <li>
      Neglect or dereliction
    </li>
    <li>
      Unsustainable current business model
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    2.2.2.2. Upload asset valuation or lease agreement
  </h4>
  <p class="govuk-body">
    Please upload evidence that shows the asset valuation (if you are buying the asset) or the lease agreement (if you are leasing the asset).
  </p>
  <p class="govuk-body">
    If you are buying the asset: this could be an official document showing the asset's value from an independent surveyor or similar professional.
  </p>
  <p class="govuk-body">
    If you are leasing the asset: this could be a copy of your tenancy agreement, or agreed heads of terms, showing at least 15 years tenancy with reasonable break clauses.
  </p>
  <p class="govuk-body">
    It should be a single file no bigger than 10MB in an accepted format (jpg, jpeg, png, pdf, txt, doc, docx, odt, csv, xls, xlsx, ods).
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.2.1. Terms of your lease
  </h4>
  <p class="govuk-body">
    Describe the terms of your lease if you have rented the asset
  </p>
  <p class="govuk-body">
    For example, length of lease, conditions of lease or break clauses
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.2.2. Who owns the asset
  </h4>
  <p class="govuk-body">
    Do you know who currently owns your asset?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.2.2.2.2.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>2.2.2.2.2.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.2.2.1. Who currently owns your asset
  </h4>
  <p class="govuk-body">
    Name of current asset owner
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.2.2.2. Current ownership status
  </h4>
  <p class="govuk-body">
    Tell us what you know about the sale or lease of the asset
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.2.3. Expected terms of your ownership or lease
  </h4>
  <p class="govuk-body">
    Describe the expected sale process, or the proposed terms of your lease if you are planning to rent the asset
  </p>
  <p class="govuk-body">
    Expected date of sale or lease
  </p>
  <p class="govuk-body">
    For example, 27 3 2007
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.3. Public ownership
  </h4>
  <p class="govuk-body">
    Is your asset currently publicly owned?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.2.2.3.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>2.2.2.4</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.3.1. Public ownership details and declarations
  </h4>
  <p class="govuk-body">
    Tell us about the person you have spoken to at the relevant public body about the asset
  </p>
  <p class="govuk-body">
    Name of contact
  </p>
  <p class="govuk-body">
    Job title of contact
  </p>
  <p class="govuk-body">
    Organisation name
  </p>
  <p class="govuk-body">
    When you buy or lease a publicly owned asset, the public authority cannot transfer statutory services or duties to the community group.
  </p>
  <p class="govuk-body">
    This includes things like social care, waste collection and planning services.
  </p>
  <p class="govuk-body">
    We do not define individual libraries as statutory services for this purpose.
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      I confirm
    </li>
  </ul>
  <p class="govuk-body">
    Grants from this fund cannot be used to buy the freehold or premium on the lease of a publicly owned asset. Money must only be used for renovation and refurbishment costs
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      I confirm
    </li>
  </ul>
  <p class="govuk-body">
    Upload evidence to confirm the above information and that the asset is at risk
  </p>
  <p class="govuk-body">
    This could be from:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      a letter from an appropriate public authority officer or cabinet member
    </li>
    <li>
      a published cabinet paper from a local authority
    </li>
  </ul>
  <p class="govuk-body">
    It should be a single file no bigger than 10MB in an accepted format (jpg, jpeg, png, pdf, txt, doc, docx, odt, csv, xls, xlsx, ods).
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.4. Risk of closure
  </h4>
  <p class="govuk-body">
    Why is the asset at risk of closure?
  </p>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Closure
    </li>
    <li>
      Sale
    </li>
    <li>
      Neglect or dereliction
    </li>
    <li>
      Unsustainable current business model
    </li>
    <li>
      Listed for disposal
    </li>
    <li>
      Part of a Community Asset Transfer
    </li>
  </ul>
  <p class="govuk-body">
    If 'Listed for disposal', go to <strong>2.2.2.4.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.4.1. Asset listing details
  </h4>
  <p class="govuk-body">
    When was the asset listed?
  </p>
  <p class="govuk-body">
    For example, 27 3 2007
  </p>
  <p class="govuk-body">
    Provide a link to the listing
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.5. Assets of community value
  </h4>
  <p class="govuk-body">
    Is this a registered Asset of Community Value (ACV)?
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.6. Local service provision
  </h4>
  <p class="govuk-body">
    Are there assets or services of a similar type available locally?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.2.2.6.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.6.1. Local service provision
  </h4>
  <p class="govuk-body">
    Is your asset different from what is available locally?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.2.2.6.1.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.6.1.1. Local service provision
  </h4>
  <p class="govuk-body">
    Tell us how and why your asset or the service is different
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.6.2. Local service provision
  </h4>
  <p class="govuk-body">
    How accessible is the closest asset or service?
  </p>
  <p class="govuk-body">
    For example, if you are applying to fund a swimming pool, where is the next closest swimming facility?
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.7. Local service provision
  </h4>
  <p class="govuk-body">
    Does part of your project include a commercial aspect?
  </p>
  <p class="govuk-body">
    For example, a community centre which also has a community café attached that helps to subsidise the activities of the centre
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.2.2.7.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.2.7.1. Local service provision
  </h4>
  <p class="govuk-body">
    Tell us how the commercial aspect relates to the other services you provide
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="strategic-case">
    3. Strategic case
  </h2>
  <h3 class="govuk-heading-m">
    3.1. Community use/significance
  </h3>
  <h4 class="govuk-heading-s">
    3.1.1. Who uses the asset
  </h4>
  <p class="govuk-body">
    Who in the community currently uses the asset, or has used it in the past?
  </p>
  <p class="govuk-body">
    Include any specific uses and how many people take part in these activities.
  </p>
  <p class="govuk-body">
    Reference any statistics you have to reinforce this. For example, data on footfall.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Tell us how losing the asset would affect, or has already affected, people in the community
  </p>
  <p class="govuk-body">
    Where possible give examples of these effects, such as important services ending or having to travel a significant distance to use a similar asset.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Why will the asset be lost without community intervention?
  </p>
  <p class="govuk-body">
    Include any evidence you have that its use by the community will be threatened.
  </p>
  <p class="govuk-body">
    For example, by the owner's intention or an imminent sale
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Explain how the community will be better served with the asset under community ownership
  </p>
  <p class="govuk-body">
    Include why this is preferable to any other type of ownership.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    3.2. Community engagement
  </h3>
  <h4 class="govuk-heading-s">
    3.2.1. How you've engaged with the community
  </h4>
  <p class="govuk-body">
    Tell us how you have engaged with the community about your intention to take ownership of the asset
  </p>
  <p class="govuk-body">
    Give examples of the different ways you've engaged with people, and how this has shaped your project plans.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    3.2.2. Your fundraising activities
  </h4>
  <p class="govuk-body">
    Describe your fundraising activities
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    3.2.3. Partnerships and local plans
  </h4>
  <p class="govuk-body">
    Tell us about any partnerships you've formed, and how they'll help the project be successful
  </p>
  <p class="govuk-body">
    For example, any agreements you've reached with other local businesses or community organisations.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Tell us how your project supports any wider local plans
  </p>
  <p class="govuk-body">
    These could include plans led by the council, local businesses or the community.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    3.3. Local support
  </h3>
  <h4 class="govuk-heading-s">
    3.3.1. Your support for the project
  </h4>
  <p class="govuk-body">
    Tell us about the local support for your project
  </p>
  <p class="govuk-body">
    This can include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      surveys of the community
    </li>
    <li>
      minutes of town hall meetings you have run
    </li>
    <li>
      the estimated number of volunteers you have for your project
    </li>
    <li>
      a letter from your local MP
    </li>
  </ul>
  <p class="govuk-body">
    If you plan to upload any supporting evidence below, reference it here.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Upload supporting evidence (optional)
  </p>
  <p class="govuk-body">
    Upload evidence to show the support you have from the community.
  </p>
  <p class="govuk-body">
    It should be a single file no bigger than 10MB in an accepted format (jpg, jpeg, png, pdf, txt, doc, docx, odt, csv, xls, xlsx, ods).
  </p>
  <h3 class="govuk-heading-m">
    3.4. Community benefits
  </h3>
  <h4 class="govuk-heading-s">
    3.4.1. Benefits you'll deliver
  </h4>
  <p class="govuk-body">
    What community benefits do you expect to deliver with this project?
  </p>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Community pride and perceptions of the local area as a place to live
    </li>
    <li>
      Social trust, cohesion and a sense of belonging
    </li>
    <li>
      Participation in community life, arts and culture, or sport
    </li>
    <li>
      Local economic outcomes, such as employment and volunteering opportunities, and employability and skills
    </li>
    <li>
      Delivering positive impact in physical and mental health, and reducing loneliness and isolation
    </li>
  </ul>
  <p class="govuk-body">
    Tell us about these benefits in detail, and how the asset's activities will help deliver them
  </p>
  <p class="govuk-body">
    Include how you gathered feedback from local people on which activities to run, and how each will address a specific community need
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Explain how you plan to deliver and sustain these benefits over time
  </p>
  <p class="govuk-body">
    Include the key milestones you intend to meet in order to deliver these benefits.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Tell us how you'll make sure the whole community benefits from the asset
  </p>
  <p class="govuk-body">
    For example, people who have not used the asset in the past, and other people who live in the local area.
  </p>
  <p class="govuk-body">
    Where possible, reference any data you have on protected characteristics and equality impacts.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    3.5. Environmental sustainability
  </h3>
  <h4 class="govuk-heading-s">
    3.5.1. How you've considered the environment
  </h4>
  <p class="govuk-body">
    Tell us how you have considered the environmental sustainability of your project
  </p>
  <p class="govuk-body">
    This could include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      any low or zero carbon approaches you will adopt during construction
    </li>
    <li>
      how the asset will align with Net Zero initiatives in future
    </li>
    <li>
      how you will measure and reduce the asset's environmental impact
    </li>
  </ul>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="management-case">
    4. Management case
  </h2>
  <h3 class="govuk-heading-m">
    4.1. Funding required
  </h3>
  <h4 class="govuk-heading-s">
    4.1.1. Capital funding request
  </h4>
  <p class="govuk-body">
    Capital costs are the costs of buying or leasing your asset and paying for refurbishment.
  </p>
  <p class="govuk-body">
    Community Ownership Fund (COF) will fund up to 80% of the total capital costs of your project, up to a maximum of £2 million.
  </p>
  <p class="govuk-body">
    At least 20% of the total capital costs of your project must be covered by other sources (match funding). For example:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      You want to purchase a community asset which costs £2,500,000. You can apply for £2m from COF, and must raise the remaining £500,000 from other sources.
    </li>
    <li>
      You want to purchase a community asset which costs £250,000. You can apply for £200,000 from COF, and must raise the remaining £50,000 from other sources.
    </li>
  </ul>
  <p class="govuk-body">
    (In exceptional circumstances, you may only need to secure 10% in match funding. Your development support provider will have already confirmed this with you if you’re eligible.)
  </p>
  <p class="govuk-body">
    If successful, you must spend all the funding within 12 months.
  </p>
  <p class="govuk-body">
    Capital funding request
  </p>
  <p class="govuk-body">
    If successful, will you use your funding in the next 12 months?
  </p>
  <h4 class="govuk-heading-s">
    4.1.2. Capital costs for your project
  </h4>
  <p class="govuk-body">
    Capital costs
  </p>
  <p class="govuk-body">
    Tell us about the total capital costs of your project.
  </p>
  <p class="govuk-body">
    This should be for the whole project, not just what you're requesting from the fund.
  </p>
  <p class="govuk-body">
    Capital costs can be used to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      purchase or lease the asset
    </li>
    <li>
      pay for refurbishment costs
    </li>
  </ul>
  <p class="govuk-body">
    Remember, you can apply for up to 80% (or 90% if the development support provider has confirmed you're eligible to do this) of your capital costs, up to a maximum of £2 million.
  </p>
  <p class="govuk-body">
    You can use your business plan to provide information that supports your answers.
  </p>
  <p class="govuk-body">
    You can add multiple capital costs
  </p>
  <p class="govuk-body">
    Describe the cost
  </p>
  <p class="govuk-body">
    Amount
  </p>
  <p class="govuk-body">
    How much money from the COF grant will you use to pay for this cost?
  </p>
  <p class="govuk-body">
    How much of the match funding will you use to pay for this cost?
  </p>
  <h4 class="govuk-heading-s">
    4.1.3. If you've secured match funding
  </h4>
  <p class="govuk-body">
    At least 20% of your total capital costs must be covered by your organisation or another funder (match funding).
  </p>
  <p class="govuk-body">
    Match funding sources could include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      public bodies
    </li>
    <li>
      devolved administrations
    </li>
    <li>
      charitable trusts
    </li>
    <li>
      national lottery funders
    </li>
    <li>
      community shares
    </li>
    <li>
      social investors
    </li>
    <li>
      other lenders
    </li>
  </ul>
  <p class="govuk-body">
    You do not need to have secured all of your match funding yet, but you should have identified potential funders.
  </p>
  <p class="govuk-body">
    Have you secured any match funding yet?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>4.1.3.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>4.1.3.4</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.1.3.1. Secured match funding
  </h4>
  <p class="govuk-body">
    Secured match funding
  </p>
  <p class="govuk-body">
    Tell us which sources of funding you have already secured as match funding.
  </p>
  <p class="govuk-body">
    Match funding sources can include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      public bodies
    </li>
    <li>
      devolved administrations
    </li>
    <li>
      charitable trusts
    </li>
    <li>
      national lottery funders
    </li>
    <li>
      community shares
    </li>
    <li>
      social investors
    </li>
    <li>
      other lenders
    </li>
  </ul>
  <p class="govuk-body">
    You can add multiple secured match funding
  </p>
  <p class="govuk-body">
    Source of secured funding
  </p>
  <p class="govuk-body">
    Amount
  </p>
  <h4 class="govuk-heading-s">
    4.1.3.2. Have you already spent the match funding you have secured?
  </h4>
  <p class="govuk-body">
    Note that any funding that you have already spent will not be eligible as match funding
  </p>
  <h4 class="govuk-heading-s">
    4.1.3.3. If you’ve identified further match funding
  </h4>
  <p class="govuk-body">
    Have you identified, but not yet secured, any additional match funding?
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>4.1.4</strong>
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>4.1.3.4</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.1.3.4. Unsecured match funding
  </h4>
  <p class="govuk-body">
    Unsecured match funding
  </p>
  <p class="govuk-body">
    Tell us which sources of funding you intend to secure as match funding.
  </p>
  <p class="govuk-body">
    You can use your business plan to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      tell us how long it will likely take to secure any outstanding match funding
    </li>
    <li>
      provide any information that supports your answers
    </li>
  </ul>
  <p class="govuk-body">
    You can add multiple unsecured match funding
  </p>
  <p class="govuk-body">
    Source of unsecured match funding
  </p>
  <p class="govuk-body">
    Amount
  </p>
  <h4 class="govuk-heading-s">
    4.1.4. Revenue funding
  </h4>
  <p class="govuk-body">
    Are you applying for revenue funding from the Community Ownership Fund? (optional)
  </p>
  <p class="govuk-body">
    Revenue costs go towards running the asset once you've taken ownership of it. This might include general costs, including for:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      utilities
    </li>
    <li>
      staffing
    </li>
  </ul>
  <p class="govuk-body">
    Remember, you can apply for up to fifty thousand pounds (£50,000) of your revenue costs (no more than 20% of your capital funding).
  </p>
  <p class="govuk-body">
    You can use your business plan to provide any information that supports your answers
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>4.1.4.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.1.4.1. Revenue costs (optional)
  </h4>
  <p class="govuk-body">
    Revenue costs (optional)
  </p>
  <p class="govuk-body">
    Tell us about the total revenue costs of your project.
  </p>
  <p class="govuk-body">
    These are the running costs of the project. This might include general costs, including for:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      utilities
    </li>
    <li>
      staffing
    </li>
  </ul>
  <p class="govuk-body">
    Remember, you can apply for up to £50,000 of your revenue costs (no more than 20% of your capital funding).

You can use your business plan to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      tell us why you need revenue funding
    </li>
    <li>
      provide any information that supports your answers
    </li>
  </ul>
  <p class="govuk-body">
    You can add multiple revenue costs (optional)
  </p>
  <p class="govuk-body">
    Describe the cost
  </p>
  <p class="govuk-body">
    Amount
  </p>
  <h4 class="govuk-heading-s">
    4.1.4.2. How you'll use revenue funding
  </h4>
  <p class="govuk-body">
    Tell us how the revenue funding you've requested will help run the asset
  </p>
  <p class="govuk-body">
    Include the specific needs it will meet, and how you'll meet these needs once you've spent the funding.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    4.2. Feasibility
  </h3>
  <h4 class="govuk-heading-s">
    4.2.1. Feasiblity studies you've carried out
  </h4>
  <p class="govuk-body">
    Tell us about the feasibility studies you have carried out for your project
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Do you need to do any further feasibility work?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>4.2.1.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.2.1.1. Further feasibility work
  </h4>
  <p class="govuk-body">
    Describe the feasibility work you still need to complete
  </p>
  <p class="govuk-body">
    Include details of your plans and when you expect to complete them.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    4.3. Risk
  </h3>
  <h4 class="govuk-heading-s">
    4.3.1. Your project risk register
  </h4>
  <p class="govuk-body">
    Risks to your project (document upload)
  </p>
  <p class="govuk-body">
    Upload a document detailing any risks your project may face.
  </p>
  <p class="govuk-body">
    You should include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      a description of the risk
    </li>
    <li>
      the likelihood of it happening
    </li>
    <li>
      when it may occur
    </li>
    <li>
      how you intend to mitigate it
    </li>
    <li>
      the likelihood of it happening after mitigation
    </li>
  </ul>
  <p class="govuk-body">
    Do not include any risks to the asset or why it may close, which we asked you about earlier in your application.
  </p>
  <p class="govuk-body">
    It should be a single file no bigger than 10MB in an accepted format (jpg, jpeg, png, pdf, txt, doc, docx, odt, csv, xls, xlsx, ods).
  </p>
  <p class="govuk-body">
    Upload risk document
  </p>
  <h3 class="govuk-heading-m">
    4.4. Operational costs
  </h3>
  <h4 class="govuk-heading-s">
    4.4.1. Forecasted income and operational costs to run the asset
  </h4>
  <p class="govuk-body">
    Summarise your income and operational costs for the running of the asset
  </p>
  <p class="govuk-body">
    Include how this will work over the next 3 years. You must use your business plan to provide a forecast of figures.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    4.5. Skills and resources
  </h3>
  <h4 class="govuk-heading-s">
    4.5.1. Your experience running similar assets
  </h4>
  <p class="govuk-body">
    Describe any relevant experience you have delivering similar projects or running an asset
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    4.5.2. Recruitment plans
  </h4>
  <p class="govuk-body">
    Do you have plans to recruit people to help you run the asset?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>4.5.2.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.5.2.1. Roles you’ll recruit to help you run the asset
  </h4>
  <p class="govuk-body">
    Tells us about the roles you'll recruit
  </p>
  <p class="govuk-body">
    These should be positions which will help you effectively run the asset during community ownership.
  </p>
  <p class="govuk-body">
    Include the:
  </p>
  <p class="govuk-body">
    role
  </p>
  <p class="govuk-body">
    main responsibilities
  </p>
  <p class="govuk-body">
    You can use your business plan to provide evidence to support your answers.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    4.6. Community representation
  </h3>
  <h4 class="govuk-heading-s">
    4.6.1. How you’ll run the asset
  </h4>
  <p class="govuk-body">
    List the members of your board
  </p>
  <p class="govuk-body">
    Please include their:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      role
    </li>
    <li>
      main responsibilities
    </li>
  </ul>
  <p class="govuk-body">
    You can use your business plan to provide information that supports your answers.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Tell us about your governance and membership structures
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Explain how you'll consider the views of the community in the running of the asset
  </p>
  <p class="govuk-body">
    Include how they'll be involved in decision making, and how you'll measure public support for your decisions
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    4.7. Inclusiveness and integration
  </h3>
  <h4 class="govuk-heading-s">
    4.7.1. How you’ll make the asset inclusive
  </h4>
  <p class="govuk-body">
    Tell us how the asset will be accountable to local people, and involve them in its running
  </p>
  <p class="govuk-body">
    This means how you'll involve everyone in key decisions, such as how the asset is used.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Describe anything that might prevent people from using the asset or participating in its running
  </p>
  <p class="govuk-body">
    For example, high membership costs or exclusive eligibility criteria which prevent people from participating.
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    4.8. Upload business plan
  </h3>
  <h4 class="govuk-heading-s">
    4.8.1. Your business plan
  </h4>
  <p class="govuk-body">
    Business plan for your project (document upload)
  </p>
  <p class="govuk-body">
    Upload your business plan.
  </p>
  <p class="govuk-body">
    Include any information that supports the answers in your application. All figures must match those you've given in the management case section.
  </p>
  <p class="govuk-body">
    It should be a single file no bigger than 10MB in an accepted format (jpg, jpeg, png, pdf, txt, doc, docx, odt, csv, xls, xlsx, ods).
  </p>
  <p class="govuk-body">
    Your business plan should include (but is not limited to):
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Information about the capital element of your project. This could include:

information about your completed or planned feasibility studies. This could include any relevant surveys
a programme with key milestones for completion of your project
your skills and resources to manage the capital project, including relevant project management expertise
    </li>
    <li>
      A financial breakdown of your project. This should include:
    </li>
    <li>
      a clear breakdown of the total capital project costs and explanation of how these have been calculated. This could include any quotes or cost benchmarking
whether the costs include irrecoverable VAT
the capital funding request from the Community Ownership Fund
the total amount of match funding required
sources of match funding secured to date
sources of match funding still to be secured
timescales and potential sources for securing all outstanding match funding
    </li>
    <li>
      Information about how the asset will be used and managed in the future. This should include:

a discussion of planned activities and/or services that will take place in the community asset
your full financial forecasts, including income sources and costs with an evidenced set of assumptions
a clear breakdown of the revenue project costs and explanation of how these have been calculated
your cashflow and revenue budgets
any supporting evidence that you will deliver the benefits to the community you have outlined
    </li>
    <li>
      A consideration of risks and mitigations of both the capital works/spend and the ongoing operation of the asset
    </li>
    <li>
      Organisational and governance information. This should include:

your organisation’s governance and membership structures, with supporting evidence
members of your board, including their role and main responsibilities
supporting evidence of how you will manage finances and prevent fraud. For example, copies of your policy documents
supporting evidence of how you will manage performance and risks. For example, copies of your policy documents
    </li>
  </ul>
  <p class="govuk-body">
    Upload business plan
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="check-declarations">
    5. Check declarations
  </h2>
  <h3 class="govuk-heading-m">
    5.1. Final confirmations
  </h3>
  <h4 class="govuk-heading-s">
    5.1.1. Agree to the final confirmations
  </h4>
  <p class="govuk-body">
    Confirm you have considered subsidy control and state aid implications for your project, and the information you have given us is correct
  </p>
  <p class="govuk-body">
    Confirm you have considered people with protected characteristics throughout the planning of your project
  </p>
  <p class="govuk-body">
    Confirm you have considered sustainability and the environment throughout the planning of your project, including compliance with the government's Net Zero ambitions
  </p>
  <p class="govuk-body">
    Confirm you have a bank account set up and associated with the organisation you are applying on behalf of
  </p>
  <p class="govuk-body">
    Confirm that the information you've provided in this application is accurate to the best of your knowledge on the date of submission
  </p>
</div>
    </div>
</div>
{% endblock content %}
