
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{ fund_title }}{% endtrans %} {% trans %}{{ round_title }}{% endtrans %}
        </span>
        <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m ">
    {% trans %}Table of contents{% endtrans %}
  </h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#before-you-start">
        Before you start
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#about-your-organisation">
        About your organisation
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#your-skills-and-experience">
        Your skills and experience
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#your-project">
        Your project
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#risk-and-deliverability">
        Risk and deliverability
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#value-for-money">
        Value for money
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#declarations">
        Declarations
      </a>
    </li>
  </ol>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="before-you-start">
    1. Before you start
  </h2>
  <h3 class="govuk-heading-m">
    1.1. Name your application
  </h3>
  <p class="govuk-body">
    This is what your application will be called and will help you find it when you save and return.
  </p>
  <p class="govuk-body">
    Choose a memorable name that describes your application.
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="about-your-organisation">
    2. About your organisation
  </h2>
  <h3 class="govuk-heading-m">
    2.1. About your organisation
  </h3>
  <h4 class="govuk-heading-s">
    2.1.1. Organisation details
  </h4>
  <p class="govuk-body">
    Organisation name
  </p>
  <p class="govuk-body">
    This must match your registered legal organisation name
  </p>
  <p class="govuk-body">
    Does your organisation use any other names?
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.1.1.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>2.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.1.1.1. Alternative names of your organisation
  </h4>
  <p class="govuk-body">
    Alternative name 1
  </p>
  <p class="govuk-body">
    Alternative name 2
  </p>
  <p class="govuk-body">
    Alternative name 3
  </p>
  <h4 class="govuk-heading-s">
    2.1.2. Tell us about your organisation's main activities
  </h4>
  <p class="govuk-body">
    Include any activities you undertake in order to achieve the organisation's purpose.
  </p>
  <p class="govuk-body">
    You must list at least one, and can include up to three
  </p>
  <p class="govuk-body">
    Activity 1
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Activity 2 (optional)
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <p class="govuk-body">
    Activity 3 (optional)
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    2.1.3. How is your organisation classified?
  </h4>
  <p class="govuk-body">
    Select one option
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Upper or lower tier local authority
    </li>
    <li>
      Charity with a registered charity number
    </li>
    <li>
      Registered community interest company
    </li>
    <li>
      Social enterprise
    </li>
    <li>
      Community group
    </li>
    <li>
      Other
    </li>
  </ul>
  <p class="govuk-body">
    If 'Other', go to <strong>2.1.3.1</strong>
  </p>
  <p class="govuk-body">
    If 'Charity with a registered charity number', go to <strong>2.1.3.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.1.3.1. How is your organisation classified? (other)
  </h4>
  <h4 class="govuk-heading-s">
    2.1.3.2. Charity number
  </h4>
  <p class="govuk-body">
    You can find this by searching the register of charities on the Charity Commission website.
  </p>
  <p class="govuk-body">
    It is usually 7 numbers, or 8 numbers if your charity is recently registered
  </p>
  <h4 class="govuk-heading-s">
    2.1.3.3. Company registration number (optional)
  </h4>
  <p class="govuk-body">
    If you have a registration number, you can find this by searching Companies House.
  </p>
  <p class="govuk-body">
    It is usually 8 numbers, or 2 letters followed by 6 numbers
  </p>
  <h4 class="govuk-heading-s">
    2.1.4. Registered organisation address
  </h4>
  <h4 class="govuk-heading-s">
    2.1.5. Alternative organisation address (optional)
  </h4>
  <h4 class="govuk-heading-s">
    2.1.6. Is your application a joint bid in partnership with other organisations?
  </h4>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.1.6.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>2.1.7</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.1.6.1. Partner organisation details
  </h4>
  <p class="govuk-body">
    You can add multiple partner organisation details
  </p>
  <p class="govuk-body">
    Partner organisation name
  </p>
  <p class="govuk-body">
    Partner organisation address
  </p>
  <p class="govuk-body">
    Partner organisation address
  </p>
  <p class="govuk-body">
    Website and social media links
  </p>
  <p class="govuk-body">
    Link 1
  </p>
  <p class="govuk-body">
    Website and social media
  </p>
  <p class="govuk-body">
    Link 2 (optional)
  </p>
  <p class="govuk-body">
    Website and social media
  </p>
  <p class="govuk-body">
    Link 3 (optional)
  </p>
  <h4 class="govuk-heading-s">
    2.1.6.2. Tell us about how you plan to work with the partner organisations
  </h4>
  <p class="govuk-body">
    Explain what their role is in the delivery of the project and how they'll assist with delivery
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    2.1.6.3. Does an agreement currently exist between your organisation and the partnership organisations?
  </h4>
  <p class="govuk-body">
    We may ask for a copy of the agreement if your application is successful
  </p>
  <h4 class="govuk-heading-s">
    2.1.7. Website and social media
  </h4>
  <p class="govuk-body">
    You can add multiple website and social media
  </p>
  <p class="govuk-body">
    Link
  </p>
  <p class="govuk-body">
    For example, your company's Facebook, Instagram or Twitter accounts (if applicable)
  </p>
  <h3 class="govuk-heading-m">
    2.2. Applicant information
  </h3>
  <h4 class="govuk-heading-s">
    2.2.1. Lead contact details
  </h4>
  <p class="govuk-body">
    They will receive all the information about this application
  </p>
  <p class="govuk-body">
    Name of lead contact
  </p>
  <p class="govuk-body">
    Alternative name
  </p>
  <p class="govuk-body">
    Lead contact job title
  </p>
  <p class="govuk-body">
    Lead contact email address
  </p>
  <p class="govuk-body">
    Lead contact telephone number
  </p>
  <p class="govuk-body">
    Is the lead contact the same person as the authorised signatory?
  </p>
  <p class="govuk-body">
    An authorised signatory:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      is allowed to act on behalf of the organisation
    </li>
    <li>
      will sign the grant funding agreement if your application is successful
    </li>
  </ul>
  <p class="govuk-body">
    If 'No', go to <strong>2.2.1.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.2.1.1. Authorised signatory details
  </h4>
  <p class="govuk-body">
    An authorised signatory:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      is allowed to act on behalf of the organisation
    </li>
    <li>
      will sign the grant funding agreement if your application is successful
    </li>
  </ul>
  <p class="govuk-body">
    Authorised signatory full name
  </p>
  <p class="govuk-body">
    Alternative name
  </p>
  <p class="govuk-body">
    Authorised signatory job title
  </p>
  <p class="govuk-body">
    Authorised signatory email address
  </p>
  <p class="govuk-body">
    Authorised signatory telephone number
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="your-skills-and-experience">
    3. Your skills and experience
  </h2>
  <h3 class="govuk-heading-m">
    3.1. Your skills and experience
  </h3>
  <h4 class="govuk-heading-s">
    3.1.1. Have you delivered projects like this before?
  </h4>
  <p class="govuk-body">
    If 'Yes', go to <strong>3.1.1.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    3.1.1.1. Tell us about how you have worked on similar previous projects
  </h4>
  <p class="govuk-body">
    Tell us about:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      the scale of the project
    </li>
    <li>
      the value of the project
    </li>
    <li>
      where the project was based
    </li>
  </ul>
  <p class="govuk-body">
    (Max 1000 words)
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="your-project">
    4. Your project
  </h2>
  <h3 class="govuk-heading-m">
    4.1. Outputs and outcomes
  </h3>
  <h4 class="govuk-heading-s">
    4.1.1. Give a brief summary of your project, including what you hope to achieve
  </h4>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    4.1.2. How will you measure the outcome of your project?
  </h4>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h4 class="govuk-heading-s">
    4.1.3. What is the main focus of your project?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Trauma support
    </li>
    <li>
      Mental health and wellbeing
    </li>
    <li>
      Teaching English as a language
    </li>
    <li>
      Peer groups and befriending
    </li>
    <li>
      Supporting hosts and sponsors
    </li>
    <li>
      Maintaining links to culture
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    4.1.4. Which cohort will your project focus on?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Ukrainian schemes
    </li>
    <li>
      Hong Kong British National (Overseas)
    </li>
    <li>
      Afghan Citizens Resettlement Scheme
    </li>
  </ul>
  <p class="govuk-body">
    If 'Ukrainian schemes', go to <strong>4.1.4.1</strong>
  </p>
  <p class="govuk-body">
    If 'Hong Kong British National (Overseas)', go to <strong>4.1.4.2</strong>
  </p>
  <p class="govuk-body">
    If 'Afghan Citizens Resettlement Scheme', go to <strong>4.1.4.3</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.1.4.1. How many fund recipients from the Ukraine schemes do you expect your project to support with the funding?
  </h4>
  <p class="govuk-body">
    Fund recipients are people aged 21 and under
  </p>
  <h4 class="govuk-heading-s">
    4.1.4.2. How many fund recipients from the Hong Kong British National (Overseas) cohort do you expect your project to support with the funding?
  </h4>
  <p class="govuk-body">
    Fund recipients are people aged 21 and under
  </p>
  <h4 class="govuk-heading-s">
    4.1.4.3. How many fund recipients from the Afghan Citizens Resettlement Scheme do you expect your project to support with the funding?
  </h4>
  <p class="govuk-body">
    Fund recipients are people aged 21 and under
  </p>
  <h3 class="govuk-heading-m">
    4.2. Existing work
  </h3>
  <h4 class="govuk-heading-s">
    4.2.1. How will you avoid duplicating existing work or projects in this area?
  </h4>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <h3 class="govuk-heading-m">
    4.3. Project milestones
  </h3>
  <h4 class="govuk-heading-s">
    4.3.1. Project milestones
  </h4>
  <p class="govuk-body">
    Tell us your project's milestones up to, and including 2025.
  </p>
  <p class="govuk-body">
    You should mention the key deliverables that will help you monitor your progress.
  </p>
  <p class="govuk-body">
    You can add multiple project milestones
  </p>
  <p class="govuk-body">
    Milestone (Max 200 words per milestone)
  </p>
  <p class="govuk-body">
    For example, recruit member of staff, reach a percentage of the proposed recipients, deliver a particular activity
  </p>
  <p class="govuk-body">
    When will you reach this milestone?
  </p>
  <p class="govuk-body">
    For example, 3 2024
  </p>
  <h3 class="govuk-heading-m">
    4.4. Objectives and activities
  </h3>
  <h4 class="govuk-heading-s">
    4.4.1. Objectives and activities
  </h4>
  <p class="govuk-body">
    Tell us about your project's objectives and how you plan to achieve these objectives.
  </p>
  <p class="govuk-body">
    You can add multiple objectives and activities
  </p>
  <p class="govuk-body">
    Objective
  </p>
  <p class="govuk-body">
    Activities that will help you achieve the objective (Max 200 words per objective)
  </p>
  <h3 class="govuk-heading-m">
    4.5. Location of activities
  </h3>
  <h4 class="govuk-heading-s">
    4.5.1. Is the project taking place regionally?
  </h4>
  <p class="govuk-body">
    If it is not taking place regionally, we assume it will take place nationally
  </p>
  <h4 class="govuk-heading-s">
    4.5.1.1. Which local authority areas will you work across?
  </h4>
  <p class="govuk-body">
    You can add multiple which local authority areas will you work across?
  </p>
  <p class="govuk-body">
    Which local authority areas will you work across?
  </p>
  <h3 class="govuk-heading-m">
    4.6. Working with fund beneficiaries
  </h3>
  <h4 class="govuk-heading-s">
    4.6.1. Tell us how you will identify and work with the intended fund beneficiaries
  </h4>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="risk-and-deliverability">
    5. Risk and deliverability
  </h2>
  <h3 class="govuk-heading-m">
    5.1. Risk and deliverability
  </h3>
  <h4 class="govuk-heading-s">
    5.1.1. Risks to the project
  </h4>
  <p class="govuk-body">
    Risks to the project
  </p>
  <p class="govuk-body">
    Tell us about:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      any risks to the project
    </li>
    <li>
      the liklihood of them happening
    </li>
    <li>
      the impact they'll have on the project
    </li>
    <li>
      how you plan to mitigate them
    </li>
  </ul>
  <p class="govuk-body">
    You can add multiple risks to the project
  </p>
  <p class="govuk-body">
    Risk (Max 500 words per risk)
  </p>
  <p class="govuk-body">
    Likelihood
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      High
    </li>
    <li>
      Medium
    </li>
    <li>
      Low
    </li>
  </ul>
  <p class="govuk-body">
    Impact
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      High
    </li>
    <li>
      Medium
    </li>
    <li>
      Low
    </li>
  </ul>
  <p class="govuk-body">
    Proposed mitigation (Max 500 words per risk)
  </p>
  <h4 class="govuk-heading-s">
    5.1.2. Who owns the overall risk register?
  </h4>
  <p class="govuk-body">
    Enter a full name
  </p>
  <h4 class="govuk-heading-s">
    5.1.3. Tell us about your organisation's governance structure
  </h4>
  <p class="govuk-body">
    Include members of your board, their roles and main responsibilities
  </p>
  <p class="govuk-body">
    (Max 500 words)
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="value-for-money">
    6. Value for money
  </h2>
  <h3 class="govuk-heading-m">
    6.1. Value for money
  </h3>
  <h4 class="govuk-heading-s">
    6.1.1. Funding requested
  </h4>
  <p class="govuk-body">
    This is the amount you are applying for from the Children and Young People’s Resettlement Fund.
  </p>
  <p class="govuk-body">
    This is a revenue only fund
  </p>
  <p class="govuk-body">
    27 September 2023 to 31 March 2024
  </p>
  <p class="govuk-body">
    1 April 2024 to 31 March 2025
  </p>
  <h4 class="govuk-heading-s">
    6.1.2. Item of expenditure
  </h4>
  <p class="govuk-body">
    Tell us how you will use the funding. For example, staff, supplies and services, contribution to overheads, irrecoverable VAT
  </p>
  <p class="govuk-body">
    You can add multiple item of expenditure
  </p>
  <p class="govuk-body">
    Item of expenditure
  </p>
  <p class="govuk-body">
    Amount
  </p>
  <p class="govuk-body">
    Year
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      27 September 2023 to 31 March 2024
    </li>
    <li>
      1 April 2024 to 31 March 2025
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    6.1.3. Will you use additional funding for your project?
  </h4>
  <p class="govuk-body">
    For example, money from reserves, trusts or foundations
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>6.1.3.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    6.1.3.1. Additional funding
  </h4>
  <p class="govuk-body">
    You can add multiple funding source
  </p>
  <p class="govuk-body">
    Funding source
  </p>
  <p class="govuk-body">
    For example, money from reserves, trusts or foundations
  </p>
  <p class="govuk-body">
    Amount
  </p>
  <p class="govuk-body">
    When is the additional funding available from?
  </p>
  <p class="govuk-body">
    For example, 3 2024
  </p>
  <p class="govuk-body">
    Which type of funding is it?
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Capital
    </li>
    <li>
      Revenue
    </li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="declarations">
    7. Declarations
  </h2>
  <h3 class="govuk-heading-m">
    7.1. Declarations
  </h3>
  <h4 class="govuk-heading-s">
    7.1.1. Agree to the final confirmations
  </h4>
  <p class="govuk-body">
    Confirm your organisation adheres to the government code of conduct
  </p>
  <p class="govuk-body">
    Confirm your organisation has a data handling process in place
  </p>
  <p class="govuk-body">
    Confirm you have a bank account set up and associated with the organisation you are applying on behalf of
  </p>
  <p class="govuk-body">
    Confirm that your organisation's safegaurding policies are up to date
  </p>
  <p class="govuk-body">
    Confirm that the information you've provided in this application is accurate to the best of your knowledge on the date of submission
  </p>
</div>
    </div>
</div>
{% endblock content %}
