
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{ fund_title }}{% endtrans %} {% trans %}{{ round_title }}{% endtrans %}
        </span>
        <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m ">
    {% trans %}Table of contents{% endtrans %}
  </h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#before-you-start">
        Before you start
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#about-your-organisation">
        About your organisation
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#your-skills-and-experience">
        Your skills and experience
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#about-your-project">
        About your project
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#future-work">
        Future work
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#declarations">
        Declarations
      </a>
    </li>
  </ol>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="before-you-start">
    1. Before you start
  </h2>
  <h3 class="govuk-heading-m">
    1.1. Name your application
  </h3>
  <p class="govuk-body">
    This is what your application will be called and will help you find it when you save and return.
  </p>
  <p class="govuk-body">
    Choose a memorable name that describes your application.
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="about-your-organisation">
    2. About your organisation
  </h2>
  <h3 class="govuk-heading-m">
    2.1. Organisation information
  </h3>
  <h4 class="govuk-heading-s">
    2.1.1. Organisation name
  </h4>
  <p class="govuk-body">
    This must match your registered legal organisation name
  </p>
  <h4 class="govuk-heading-s">
    2.1.2. Project sponsor details
  </h4>
  <p class="govuk-body">
    This is the person sponsoring your application. They are usually a 'head of' or higher
  </p>
  <p class="govuk-body">
    Name of project sponsor
  </p>
  <p class="govuk-body">
    Project sponsor email address
  </p>
  <p class="govuk-body">
    Project sponsor telephone number
  </p>
  <h4 class="govuk-heading-s">
    2.1.3. Section 151 officer details
  </h4>
  <p class="govuk-body">
    Name of section 151 officer
  </p>
  <p class="govuk-body">
    Section 151 officer email address
  </p>
  <p class="govuk-body">
    Section 151 officer telephone number
  </p>
  <h4 class="govuk-heading-s">
    2.1.4. Lead contact details
  </h4>
  <p class="govuk-body">
    They will receive all the information about this application
  </p>
  <p class="govuk-body">
    Name of lead contact
  </p>
  <p class="govuk-body">
    Lead contact job title
  </p>
  <p class="govuk-body">
    Lead contact email address
  </p>
  <p class="govuk-body">
    Lead contact telephone number
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="your-skills-and-experience">
    3. Your skills and experience
  </h2>
  <h3 class="govuk-heading-m">
    3.1. Your skills and experience
  </h3>
  <h4 class="govuk-heading-s">
    3.1.1. Has your organisation delivered projects like this before?
  </h4>
  <p class="govuk-body">
    If 'Yes', go to <strong>3.1.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    3.1.1.2. Tell us about how your organisation has worked on similar previous projects
  </h4>
  <p class="govuk-body">
    Tell us about:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      the scale of the project
    </li>
    <li>
      the value of the project
    </li>
    <li>
      who was involved
    </li>
  </ul>
  <h3 class="govuk-heading-m">
    3.2. Roles and recruitment
  </h3>
  <h4 class="govuk-heading-s">
    3.2.1. Do you have a team in place ready to deliver the project?
  </h4>
  <p class="govuk-body">
    If 'No', go to <strong>3.2.1.1</strong>
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>3.2.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    3.2.1.1. How will you make sure you have a team in place ready to deliver the project?
  </h4>
  <p class="govuk-body">
    Tell us about how you plan to recruit any new roles if they are needed
  </p>
  <h4 class="govuk-heading-s">
    3.2.2. Tell us about the shape of the project team
  </h4>
  <p class="govuk-body">
    Tell us about:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      the roles in the team
    </li>
    <li>
      the scale of the team
    </li>
    <li>
      whether you have a GIS (geographic information system) officer to support the project or if you plan to recruit one
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    3.2.3. Will you need to backfill any roles in your organisation?
  </h4>
  <p class="govuk-body">
    If 'Yes', go to <strong>3.2.3.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>3.2.4</strong>
  </p>
  <h4 class="govuk-heading-s">
    3.2.3.1. What is the estimated cost of backfilling roles?
  </h4>
  <h4 class="govuk-heading-s">
    3.2.4. Do you know who will lead the day-to-day delivery of the project in your organisation?
  </h4>
  <p class="govuk-body">
    If 'Yes', go to <strong>3.2.4.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    3.2.4.1. Who will lead the day-to-day delivery of the project in your organisation?
  </h4>
  <p class="govuk-body">
    Enter a full name
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="about-your-project">
    4. About your project
  </h2>
  <h3 class="govuk-heading-m">
    4.1. Engaging the ODP community
  </h3>
  <h4 class="govuk-heading-s">
    4.1.1. Why do you want to be a part of the ODP (Open Digital Planning) community?
  </h4>
  <p class="govuk-body">
    Tell us:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      what you will get from the community
    </li>
    <li>
      what you will give to the community
    </li>
  </ul>
  <h3 class="govuk-heading-m">
    4.2. Engaging the organisation
  </h3>
  <h4 class="govuk-heading-s">
    4.2.1. How will you make sure team members engage with other parts of your organisation?
  </h4>
  <p class="govuk-body">
    We expect you to regularly engage with:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      planning departments
    </li>
    <li>
      transformation departments
    </li>
    <li>
      data departments
    </li>
    <li>
      GIS (geographical information system) teams
    </li>
    <li>
      senior leadership
    </li>
    <li>
      information technology teams
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    4.2.2. How will you share the progress of the work across your organisation?
  </h4>
  <h3 class="govuk-heading-m">
    4.3. Dataset information
  </h3>
  <h4 class="govuk-heading-s">
    4.3.1. Does your organisation collect at least one of the datasets?
  </h4>
  <p class="govuk-body">
    The 4 datasets are:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Conservation areas
    </li>
    <li>
      Article 4 direction
    </li>
    <li>
      Listed buildings
    </li>
    <li>
      Tree preservation orders
    </li>
  </ul>
  <p class="govuk-body">
    If 'Yes', go to <strong>4.3.1.1</strong>
  </p>
  <p class="govuk-body">
    If 'No', go to <strong>4.3.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.3.1.1. Which datasets have you collected?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Conservation areas
    </li>
    <li>
      Article 4 direction
    </li>
    <li>
      Listed buildings
    </li>
    <li>
      Tree preservation orders
    </li>
  </ul>
  <p class="govuk-body">
    If 'Conservation areas', go to <strong>4.3.1.1.1</strong>
  </p>
  <p class="govuk-body">
    If 'Article 4 direction', go to <strong>4.3.1.1.2</strong>
  </p>
  <p class="govuk-body">
    If 'Listed buildings', go to <strong>4.3.1.1.3</strong>
  </p>
  <p class="govuk-body">
    If 'Tree preservation orders', go to <strong>4.3.1.1.4</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.3.1.1.1. Which format is your dataset in for conservation areas?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Paper
    </li>
    <li>
      Spreadsheet
    </li>
    <li>
      Database
    </li>
    <li>
      GIS (geographical information system)
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    4.3.1.1.2. Which format is your dataset in for article 4 direction?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Paper
    </li>
    <li>
      Spreadsheet
    </li>
    <li>
      Database
    </li>
    <li>
      GIS (geographical information system)
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    4.3.1.1.3. Which format is your dataset in for listed buildings?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Paper
    </li>
    <li>
      Spreadsheet
    </li>
    <li>
      Database
    </li>
    <li>
      GIS (geographical information system)
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    4.3.1.1.4. Which format is your dataset in for tree preservation orders?
  </h4>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Paper
    </li>
    <li>
      Spreadsheet
    </li>
    <li>
      Database
    </li>
    <li>
      GIS (geographical information system)
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    4.3.1.2. How long do you think it will take your organisation to publish all 4 datasets?
  </h4>
  <p class="govuk-body">
    Part of this funding is to support your organisation to improve and publish 4 datasets to the National Planning Data Platform
  </p>
  <p class="govuk-body">
    Select one option
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      0 to 3 months
    </li>
    <li>
      4 to 7 months
    </li>
    <li>
      8 to 11 months
    </li>
    <li>
      Longer than 11 months
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    4.3.2. What are the current known issues and challenges you have with data quality and publication?
  </h4>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="future-work">
    5. Future work
  </h2>
  <h3 class="govuk-heading-m">
    5.1. Future work
  </h3>
  <h4 class="govuk-heading-s">
    5.1.1. Which software improvements are you interested in working on in the future?
  </h4>
  <p class="govuk-body">
    If you're successful, you may be invited to apply for additional funding to improve the planning software in your organisation.
  </p>
  <p class="govuk-body">
    Select all that apply
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Adopting PlanX
    </li>
    <li>
      Adopting BOPS (Back Office Planning System)
    </li>
    <li>
      Working with an existing software provider
    </li>
    <li>
      Working with a new software provider
    </li>
  </ul>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="declarations">
    6. Declarations
  </h2>
  <h3 class="govuk-heading-m">
    6.1. Declarations
  </h3>
  <h4 class="govuk-heading-s">
    6.1.1. Agree to the final confirmations
  </h4>
  <p class="govuk-body">
    You have signed the Local Digital Declaration and agree to follow the 5 core principles
  </p>
  <p class="govuk-body">
    Your section 151 officer consents to the funds being carried over and spent in the next financial year (March 2024-25) and beyond if deemed necessary in project budget planning
  </p>
  <p class="govuk-body">
    You agree to let all outputs from this work be published under open licence with a view to any organisation accessing, using or adopting them freely
  </p>
  <p class="govuk-body">
    The information you have provided is accurate
  </p>
</div>
    </div>
</div>
{% endblock content %}
