
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{ fund_title }}{% endtrans %} {% trans %}{{ round_title }}{% endtrans %}
        </span>
        <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m ">
    {% trans %}Table of contents{% endtrans %}
  </h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#application-name">
        Application name
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#about-your-organisation">
        About your organisation
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#about-your-project">
        About your project
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#project-costs">
        Project costs
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#declaration">
        Declaration
      </a>
    </li>
  </ol>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="application-name">
    1. Application name
  </h2>
  <h3 class="govuk-heading-m">
    1.1. What would you like to name your application?
  </h3>
  <p class="govuk-body">
    Choose a unique and descriptive name. For example, the first line of the property’s address.
  </p>
  <p class="govuk-body">
    This will help you find your application if you save and return. We’ll also use this when we contact you about this application.
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="about-your-organisation">
    2. About your organisation
  </h2>
  <h3 class="govuk-heading-m">
    2.1. About your organisation
  </h3>
  <h4 class="govuk-heading-s">
    2.1.1. Which local authority are you applying from?
  </h4>
  <p class="govuk-body">
    The full legal name
  </p>
  <h4 class="govuk-heading-s">
    2.1.2. Who is your section 151 officer?
  </h4>
  <p class="govuk-body">
    Full name
  </p>
  <p class="govuk-body">
    Email address
  </p>
  <p class="govuk-body">
    Telephone number
  </p>
  <h3 class="govuk-heading-m">
    2.2. Applicant information
  </h3>
  <h4 class="govuk-heading-s">
    2.2.1. Who should we contact about this application?
  </h4>
  <p class="govuk-body">
    Full name
  </p>
  <p class="govuk-body">
    Job title
  </p>
  <p class="govuk-body">
    Email address
  </p>
  <p class="govuk-body">
    Telephone number
  </p>
  <h3 class="govuk-heading-m">
    2.3. Joint applicant
  </h3>
  <h4 class="govuk-heading-s">
    2.3.1. Are you making a joint application with another local authority?
  </h4>
  <p class="govuk-body">
    Your joint applicant must be a planning authority or a combined authority
  </p>
  <p class="govuk-body">
    If 'Yes', go to <strong>2.3.1.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    2.3.1.1. Which local authority are you applying with?
  </h4>
  <p class="govuk-body">
    The full legal name
  </p>
  <h4 class="govuk-heading-s">
    2.3.1.2. Who from that authority should we contact about this application?
  </h4>
  <p class="govuk-body">
    Full name
  </p>
  <p class="govuk-body">
    Email address
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="about-your-project">
    3. About your project
  </h2>
  <h3 class="govuk-heading-m">
    3.1. Vacant property details
  </h3>
  <h4 class="govuk-heading-s">
    3.1.1. What is the vacant property's address?
  </h4>
  <h4 class="govuk-heading-s">
    3.1.2. What is the total commercial floorspace of the property, in meters squared?
  </h4>
  <h4 class="govuk-heading-s">
    3.1.3. Term of vacancy
  </h4>
  <p class="govuk-body">
    How many days has the property been vacant?
  </p>
  <p class="govuk-body">
    How have you verified this?
  </p>
  <p class="govuk-body">
    (Max 150 words)
  </p>
  <h4 class="govuk-heading-s">
    3.1.4. Upload the initial notice you served the landlord
  </h4>
  <p class="govuk-body">
    Upload the initial notice you served the landlord
  </p>
  <p class="govuk-body">
    Tell us about all attempts to make contact, even if they were unsuccessful
  </p>
  <h4 class="govuk-heading-s">
    3.1.5. Before you served notice, what contact did you make with the landlord about the property’s vacant status?
  </h4>
  <p class="govuk-body">
    Tell us about all attempts to make contact, even if they were unsuccessful
  </p>
  <p class="govuk-body">
    (Max 150 words)
  </p>
  <h3 class="govuk-heading-m">
    3.2. Designated area details
  </h3>
  <h4 class="govuk-heading-s">
    3.2.1. Which designated high street or town centre is the vacant property in?
  </h4>
  <p class="govuk-body">
    The official name of the designated area
  </p>
  <h4 class="govuk-heading-s">
    3.2.2. Where have you published the designation details?
  </h4>
  <p class="govuk-body">
    Enter the webpage link, for example ‘www.council.gov.uk/designations’. We’ll use this to check the property is within the designated area.
  </p>
  <h4 class="govuk-heading-s">
    3.2.3. Number of commercial properties
  </h4>
  <p class="govuk-body">
    How many commercial properties are in the designated area?
  </p>
  <p class="govuk-body">
    How many of these are vacant?
  </p>
  <p class="govuk-body">
    This must be correct at the time you submit your application
  </p>
  <h3 class="govuk-heading-m">
    3.3. Milestones
  </h3>
  <h4 class="govuk-heading-s">
    3.3.1. When do you expect the auction to take place?
  </h4>
  <p class="govuk-body">
    For example, 27 10 2024
  </p>
  <h4 class="govuk-heading-s">
    3.3.2. When do you expect to submit your claim?
  </h4>
  <p class="govuk-body">
    Aim to do this once the tenant has signed a contract for tenancy
  </p>
  <h4 class="govuk-heading-s">
    3.3.3. When do you expect the tenant to sign  the tenancy agreement?
  </h4>
  <h4 class="govuk-heading-s">
    3.3.4. When do you expect to finish the refurbishment works?
  </h4>
  <h4 class="govuk-heading-s">
    3.3.5. When do you expect the tenant to move in?
  </h4>
  <h4 class="govuk-heading-s">
    3.3.6. When do you expect to submit your post-payment verification (PPV)?
  </h4>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="project-costs">
    4. Project costs
  </h2>
  <h3 class="govuk-heading-m">
    4.1. Total expected cost
  </h3>
  <h4 class="govuk-heading-s">
    4.1.1. What is the total expected cost of delivering the HSRA, in pounds?
  </h4>
  <p class="govuk-body">
    This includes any costs you expect to recover from the tenant or through matched funding
  </p>
  <p class="govuk-body">
    If '72000', go to <strong>4.1.1.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.1.1.1. Costs are higher than the guided price
  </h4>
  <p class="govuk-body">
    We’ve estimated that most HSRA projects should cost between £47,460 and £72,000.
  </p>
  <p class="govuk-body">
    We’ll consider costs above this range but need to understand why your costs are higher.
  </p>
  <p class="govuk-body">
    Why are your costs higher than the guided price??
  </p>
  <p class="govuk-body">
    (Max 300 words)
  </p>
  <h4 class="govuk-heading-s">
    4.1.2. Have you secured any match funding?
  </h4>
  <p class="govuk-body">
    If 'Yes', go to <strong>4.1.2.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    4.1.2.1. Match funding details
  </h4>
  <p class="govuk-body">
    How much match funding have you secured, in pounds?
  </p>
  <p class="govuk-body">
    Who is providing this?
  </p>
  <h3 class="govuk-heading-m">
    4.2. Refurbishment costs
  </h3>
  <h4 class="govuk-heading-s">
    4.2.1. What is the total expected cost of refurbishment, in pounds?
  </h4>
  <p class="govuk-body">
    What is the total expected cost of refurbishment, in pounds?
  </p>
  <h4 class="govuk-heading-s">
    4.2.2. Upload the independent survey of works
  </h4>
  <p class="govuk-body">
    Upload a file
  </p>
  <h4 class="govuk-heading-s">
    4.2.3. Upload quotes showing refurbishment costs and if applicable project management costs for properties exceeding 200 sqm.
  </h4>
  <p class="govuk-body">
    Upload files
  </p>
  <h3 class="govuk-heading-m">
    4.3. Other costs
  </h3>
  <h4 class="govuk-heading-s">
    4.3.1. What is the total of any other expected costs, in pounds?
  </h4>
  <h4 class="govuk-heading-s">
    4.3.2. Upload quotes showing other costs
  </h4>
  <p class="govuk-body">
    Upload quotes showing other costs
  </p>
  <p class="govuk-body">
    Upload files
  </p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="declaration">
    5. Declaration
  </h2>
  <h3 class="govuk-heading-m">
    5.1. Declaration
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      By submitting this application, you confirm that the information you have provided is correct.
    </li>
  </ul>
</div>
    </div>
</div>
{% endblock content %}
