{% extends 'govuk_frontend_jinja/template.html' %}

{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary-%}
{%- from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner -%}
{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}
{%- from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader -%}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block pageTitle %}{{config['SERVICE_NAME']}} – GOV.UK{% endblock %}

{% block head %}
  <meta name="description" content="{{config['SERVICE_NAME']}}">
  <meta name="keywords" content="GOV.UK, govuk, gov, government, uk, frontend, ui, user interface, jinja, python, flask, port, template, templating, macro, component, design system, html, forms, wtf, wtforms, widget, widgets, demo, example">
  <meta name="author" content="{{config['DEPARTMENT_NAME']}}">
  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-4.6.0.min.css') }}" /><!--<![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-ie8-4.6.0.min.css') }}" /><![endif]-->
  {% assets "css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    'homepageUrl': url_for('main.download'),
    'serviceName': 'Find monitoring data',
    'serviceUrl': url_for('main.download'),
    'navigation': [
    {
      'href': config['AUTHENTICATOR_HOST'] + "/sso/logout",
      'text': 'Log out',
    },
  ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    'tag': {
      'text': config['SERVICE_PHASE']
    },
    'html': 'This is a new service – your <a class="govuk-link" href="mailto:' + config['CONTACT_EMAIL'] +'?subject=Feedback">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  {% if form and form.errors %}
    {{ govukErrorSummary(wtforms_errors(form)) }}
  {% endif %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
          {{ govukNotificationBanner({'type': category, 'html': message}) }}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'meta': {
      'items': [
        {
          'href': url_for('main.accessibility'),
          'text': 'Accessibility'
        },
        {
          'href': '#',
          'text': 'Cookies'
        },
        {
            'href': url_for('main.privacy'),
            'text': 'Privacy'
          }
      ],
      'html': 'Built by <a href="' + config['DEPARTMENT_URL'] +'" class="govuk-footer__link">' + config['DEPARTMENT_NAME'] + '</a>'
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='govuk-frontend-4.6.0.min.js') }}"> </script>
  <script>window.GOVUKFrontend.initAll()</script>
  <!--<![endif]-->
  {% assets "js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}
