{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "apply/partials/start-application-button.html" import startApplicationButton %}
{% from "apply/partials/eligibility-check-button.html" import eligibilityCheckButton %}
{% from "apply/partials/available_in_language.html" import available_in_language %}
{% from "apply/partials/round_closed_warning.html" import round_closed_warning %}
{% from "apply/partials/applications_table.html" import applications_table %}
{% from "apply/partials/migration_banner.html" import migration_banner %}

{% extends "apply/base.html" %}
{% set pageHeading %}
{% if display_data["funds"] %}
{% set fund = display_data["funds"][0] %}
{% trans %}Your applications for{% endtrans %}  {{ fund["fund_data"]["name"] }}
{% if fund["fund_data"]["funding_type"] == "EOI" %}
    &nbsp;-&nbsp;{% trans %}Expression of interest{% endtrans %}
{% endif %}
{% else %}
Your applications
{% endif %}
{% endset %}
{% block content %}
{% if migration_banner_enabled %}
    {{ migration_banner() }}
{% endif %}
    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

    <p class="govuk-body">
        {% set application_count=display_data["total_applications_to_display"] %}
        {% trans %}You have started{% endtrans %}&nbsp;{% trans count=application_count %} {{ application_count }} application{% pluralize %}{{ application_count }} applications{% endtrans %}&nbsp;{% trans %}using this email address{% endtrans %}.
    </p>

    {{ available_in_language(inset=False, warn=True, welsh_available=welsh_available) }}

    {% for fund in display_data["funds"] %}
        {% for round in fund["rounds"] %}
            {% if not round["is_not_yet_open"] %}
                <span class="govuk-caption-m">
                    {{ fund["fund_data"]["name"] }}
                    {% if fund["fund_data"]["funding_type"] == "EOI" %}
                        &nbsp;-&nbsp;{% trans %}Expression of interest{% endtrans %}
                    {% endif %}
                </span>
                <h2 class="govuk-heading-l">
                    {{ round["round_details"]["title"] }}
                </h2>
                {% if round["round_details"]["deadline"]|length %}
                <p class="govuk-body">
                    {% trans %}Deadline for applications: {% endtrans %} {{ round["round_details"]["deadline"]|string_to_datetime|datetime_format_full_month }}
                </p>
                {% endif %}
                {% if round["is_past_submission_deadline"] %}
                    {{ round_closed_warning(fund["fund_data"]["name"], round["round_details"]["title"], round["round_details"]["deadline"]) }}
                {% endif %}
                    {{ applications_table(round["applications"], round["is_past_submission_deadline"], show_language_column, fund["fund_data"]["short_name"], round["round_details"]["is_expression_of_interest"]) }}
                {% if not round["is_past_submission_deadline"] %}
                    {% if round["round_details"]["has_eligibility"] %}
                        {{ eligibilityCheckButton(form, url_for('eligibility_routes.launch_eligibility', fund_id=fund["fund_data"]["id"], round_id=round["round_details"]["id"])) }}
                    {% else %}
                        {{ startApplicationButton(form, url_for('account_routes.new'), fund_id=fund["fund_data"]["id"], round_id=round["round_details"]["id"], eligibility_confirm=False, existing_applications_count=round["applications"]|count,fund_info='start_application_'+ fund["fund_data"]["short_name"] + '_' +round["round_details"]["short_name"]) }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

    {% endfor %}

{% endblock content %}
