{% extends "apply/base.html" %}
{% from "apply/partials/migration_banner.html" import migration_banner %}

{% block beforeContent %}
    <a href="{{ url_for("application_routes.tasklist", application_id=application_id) }}"
       class="govuk-back-link">{% trans %}Go back to application overview{% endtrans %}</a>
{% endblock beforeContent %}

{% block content %}
    {% if migration_banner_enabled %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ migration_banner() }}
            </div>
        </div>
    {% endif %}
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{% trans %}Applicant feedback survey{% endtrans %}</h1>

            <p class="govuk-body">{% trans %}This section will ask about your overall experience of completing this application, so we can improve our application forms. Your responses will not be scored.{% endtrans %}</p>

            <a href="{{ url_for("application_routes.round_feedback", application_id=application_id, page_number=1) }}" role="button"
               draggable="false" class="govuk-button" data-qa="feedback_continue"
               data-module="govuk-button">
               {% trans %}Continue{% endtrans %}
            </a>
        </div>
    </div>
{% endblock content %}
