{% extends "apply/base.html" %}
{% from "apply/partials/feedback_error_summary.html" import feedback_error_summary %}
{% from "apply/partials/migration_banner.html" import migration_banner %}

{% block beforeContent %}
    <a href="{{ url_for("application_routes.tasklist", application_id=application_id) }}"
       class="govuk-back-link">{% trans %}Go back to application overview{% endtrans %}</a>
{% endblock beforeContent %}

{% block content %}
    {% if form.errors.get('experience') %}
    {{ feedback_error_summary(form.errors.get('experience')[0], "#experience") }}
    {% endif %}

    {% if migration_banner_enabled %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ migration_banner() }}
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">{{ section.title }} {% trans %}feedback{% endtrans %}</span>

            <form action="#" class="form" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {% trans %}How easy did you find it to complete this section?{% endtrans %}
                            </h1>
                        </legend>
                        <div class="govuk-radios {% if form.errors.get('experience') %} govuk-form-group--error {% endif -%}" data-module="govuk-radios">
                            {% if form.errors.get('experience') %}
                            <p id="experience-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">{% trans %}Error:{% endtrans %}</span> {{ form.errors.get('experience')[0] }}
                            </p>
                            {% endif %}
                            {% for subfield in form.experience %}
                                <div class="govuk-radios__item" name="experience" id="experience">
                                    {{ subfield(class_='govuk-radios__input') }}
                                    <label class="govuk-label govuk-radios__label" for="{{ subfield.id }}">
                                        {{ subfield.label.text }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <br><br>
                        <div class="govuk-form-group">
                            {{ form.more_detail.label(class_='govuk-label govuk-label--s', for_='more-detail') }}
                            {{ form.more_detail(class_='govuk-textarea', id='more-detail', rows=5, aria_describedby='more-detail') }}
                        </div>
                    </fieldset>
                </div>

                <div>
                    <button class="govuk-button" data-module="govuk-button" type="submit" data-qa="feedback_submit">{% trans %}Submit feedback{% endtrans %}</button>
                </div>
            </form>

        </div>

    </div>
{% endblock content %}
