{% extends "apply/base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "apply/partials/migration_banner.html" import migration_banner %}

{% set pageHeading %}{% trans %}Round closed{% endtrans %}{% endset %}

{% block content %}
    {% if migration_banner_enabled %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ migration_banner() }}
            </div>
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-thirds">
            <h1 class="govuk-heading-xl">{% trans %}This application is now closed{% endtrans %}</h1>
            <div class="govuk-details">
                <p class="govuk-body">
                    {% trans %}The deadline to apply for this fund has now passed.{% endtrans %}
                </p>
                <p class="govuk-body">
                    {% trans %}You can still view your application, but you can no longer add new information.{% endtrans %}
                </p>
                <a href="{{ application_view_url }}" class="govuk-back-link"> {% trans %}View application{% endtrans %}</a>
            </div>
            <div class="govuk-button-group">
                {{ govukButton({
                    'text': gettext('Back to all applications'),
                    "href": dashboard_url
                }) }}
            </div>
        </div>
    </div>
{% endblock content %}
