{% extends "apply/base.html" %}
{% from "apply/partials/migration_banner.html" import migration_banner %}

{% block beforeContent %}
    <a href="{{ url_for("application_routes.tasklist", application_id=application_id) }}"
       class="govuk-back-link">{% trans %}Go back to application overview{% endtrans %}</a>
{% endblock beforeContent %}

{% block content %}
    {% if migration_banner_enabled %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ migration_banner() }}
            </div>
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{% trans %}Help us improve the application process{% endtrans %}</h1>

            <p class="govuk-body">{% trans %}We need your help to make applications easier to understand and use for everyone applying for funding from the Department of Levelling Up, Housing and Communities.{% endtrans %}</p>

            <p class="govuk-body">{% trans %}If you opt in to take part in research, you might be asked to:{% endtrans %}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{% trans %}answer some questions about your experiences of the application process in an email{% endtrans %}</li>
                <li>{% trans %}talk to a researcher about your experiences over a video call{% endtrans %}</li>
                <li>{% trans %}try out new application tool features and tell us whether they are easy to use{% endtrans %}</li>
            </ul>

            <p class="govuk-body">{% trans %}Taking part in research will not affect the outcomes of your application.{% endtrans %}</p>

            <p class="govuk-body">{% trans %}You can always say no to an invite, and can withdraw your consent to be contacted or to use your data at any time. To do so, please contact us at {% endtrans %}<a class="govuk-link" href="mailto:fundingservice.support@communities.gov.uk">fundingservice.support@communities.gov.uk</a>. </p>

            <form class="form" method="post">
                {{ form.hidden_tag() }}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios {% if form.errors.get('research_opt_in') %} govuk-form-group--error {% endif %}" data-module="govuk-radios" id="research_opt_in">
                            {% if form.errors.get('research_opt_in') %}
                            <p id="experience-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">{% trans %}Error:{% endtrans %}</span> {{ form.errors.get('research_opt_in')[0] }}
                            </p>
                            {% endif %}
                            {% for choice, label in form.research_opt_in.choices %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input"
                                           id="{{ form.research_opt_in.id }}-{{ loop.index }}"
                                           name="{{ form.research_opt_in.name }}" type="radio"
                                           value="{{ choice }}"
                                           {% if form.research_opt_in.data == choice %}checked{% endif %}>
                                    <label class="govuk-label govuk-radios__label"
                                           for="{{ form.research_opt_in.id }}-{{ loop.index }}">
                                        {{ label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>

                <div>
                    <button class="govuk-button" data-module="govuk-button" data-qa="save_and_continue">{% trans %}Save and continue{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
