{% from "apply/partials/migration_banner.html" import migration_banner %}

{% extends "apply/base.html" %}

{% block beforeContent %}
    <a href="{{ url_for("application_routes.tasklist", application_id=application_id) }}"
       class="govuk-back-link">{% trans %}Go back to application overview{% endtrans %}</a>
{% endblock beforeContent %}

{% block content %}
    {% if migration_banner_enabled %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ migration_banner() }}
            </div>
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">{{ section.title }} {% trans %}feedback{% endtrans %}</h1>

            <p class="govuk-body">{% trans %}We'll ask about your experience of completing this section, so we can improve our application forms. Your responses will not be scored.{% endtrans %}</p>

            <a href="{{ url_for("application_routes.section_feedback",
                               application_id=application_id,
                               section_id=section.section_id) }}"
               role="button"
               draggable="false"
               class="govuk-button"
               data-module="govuk-button"
               data-qa="continue_feedback_intro">
               {% trans %}Continue{% endtrans %}
            {# djlint:off #}</a>{# djlint:on #}
        </div>
    </div>
{% endblock content %}
