{% extends "base.html" %}

{% from "partials/contact_details.html" import contact_details %}

{% set pageHeading %}Page not found{% endset %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
            <p class="govuk-body">If you typed the web address, check it is correct.</p>
            <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
            <p class="govuk-body">If the web address is correct or you selected a link or a button, contact
                us to speak to an adviser.</p>

            {{ contact_details(
                "fundingservice.support@communities.gov.uk",
                "",
                "",
                "9am to 5pm",
                "Monday to Friday"
                )
            }}
        </div>
    </div>
{% endblock content %}
