{% extends "base.html" %}

{% set pageHeading %}{% trans %}Sorry, there is a problem with the service{% endtrans %}{% endset %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
            <p class="govuk-body">{% trans %}Try again later.{% endtrans %}</p>
            <p class="govuk-body"><a class="govuk-link" href=" {{
                url_for("content_routes.contact_us")
          }}">{% trans %}Contact us{% endtrans %}{# djlint:off #}</a>{# djlint:on #} {% trans %}if you have any questions.{% endtrans %}</p>
        </div>
    </div>
{% endblock content %}
