{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% from "partials/migration_banner.html" import migration_banner %}
{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% set pageHeading %}Cookies{% endset %}
{% block content %}

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if migration_banner_enabled %}
      {{ migration_banner() }}
    {% endif %}

    <div id="cookie-setting-saved-banner" class="govuk-notification-banner govuk-notification-banner--success js-cookies-page-success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" hidden>
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">Your cookie settings were saved</p>
      </div>
    </div>

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    <p class="govuk-body">
        Cookies are small files saved on your phone, tablet or computer when you visit a website.
    </p>
    <p class="govuk-body">We use cookies to make the {{ service_title }} service work.</p>

    <h2 class="govuk-heading-m" id="essential-cookies">Essential cookies</h2>
    <p class="govuk-body">Essential cookies keep your information secure while you use the {{ service_title }} service. We do not need to ask permission to use them.</p>
    <table class="govuk-table">
        <caption class="govuk-visually-hidden">Essential cookies</caption>
        <thead class="govuk-table__head">
            <tr>
                <th class="govuk-table__header">Name</th>
                <th class="govuk-table__header">Purpose</th>
                <th class="govuk-table__header">Expires</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  session_cookie
                </td>
                <td width="50%" class="govuk-table__cell">
                  Used to keep you connected to your current session
                </td>
                <td class="govuk-table__cell">
                  When you close your browser
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  fsd_user_token
                </td>
                <td width="50%" class="govuk-table__cell">
                  Used to keep you signed in
                </td>
                <td class="govuk-table__cell">
                  24 hours
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  session
                </td>
                <td width="50%" class="govuk-table__cell">
                  Set to remember information you’ve entered into a form
                </td>
                <td class="govuk-table__cell">
                  When you close your browser
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  crumb
                </td>
                <td width="50%" class="govuk-table__cell">
                  	Helps us to prevent cross site scripting attacks
                </td>
                <td class="govuk-table__cell">
                  When you close your browser
                </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                language
              </td>
              <td width="50%" class="govuk-table__cell">
                  Used to remember the language you've chosen to display page information
              </td>
              <td class="govuk-table__cell">
                30 days
              </td>
          </tr>
        </tbody>
    </table>

    <h2 class="govuk-heading-m" id="essential-cookies">Analytics cookies (optional)</h2>
    <p class="govuk-body">With your permission, we use Google Analytics to collect data about how you use this service. This information helps us to improve our service.</p>
    <p class="govuk-body">Google is not allowed to use or share our analytics data with anyone.</p>
    <p class="govuk-body">Google Analytics stores anonymised information about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you got to GOV.UK Access Funding</li>
      <li>the pages you visit on Access Funding and how long you spend on them</li>
      <li>any errors you see while using Access Funding</li>
    </ul>
    <table class="govuk-table">
      <caption class="govuk-visually-hidden">Analytics cookies (optional)</caption>
      <thead class="govuk-table__head">
        <tr>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            _ga
          </td>
          <td class="govuk-table__cell">
            Checks if you have visited Access Funding before. This helps us count how many people visit our site.
          </td>
          <td class="govuk-table__cell">
            2 years
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            _ga_GTM-M5J9Q8HV
          </td>
          <td class="govuk-table__cell">
            Checks if you have visited Access Funding before. This helps us to count how many people visit our site and persist a session state.
          </td>
          <td class="govuk-table__cell">
            2 years
          </td>
        </tr>
      </tbody>
    </table>
    <div class="govuk-body" id="cookie-settings">
      {% set translated_text %}
        {% trans %}Do you want to accept analytics cookies?{% endtrans %}
      {% endset %}
      {{ govukRadios({
        "id": "cookies-analytics",
        "name": "cookies-analytics",
        "fieldset": {
        "legend": {
            "text": translated_text,
            "isPageHeading": false,
            "classes": "govuk-fieldset__legend--s"
          }
        },
        "items": [
          {"value":"granted", "text":gettext("Yes")},{"value": "denied", "text":gettext("No")}
        ]})
    }}
      <button class="govuk-button" data-module="govuk-button" id="cookie-settings-save">
        {% trans %}Save cookie settings{% endtrans %}
      </button>
    </div>

  </div>
</div>
<script nonce="{{ csp_nonce() }}" type="text/javascript" src="{{ url_for('static', filename='js/fsd_cookies.js') }}"></script>
<script nonce="{{ csp_nonce() }}">

   window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments) }

  function initCookieRadios(){
    localConsentMode = readConsentCookie();
    if (localConsentMode != null){
      if (localConsentMode.analytics_storage == 'granted'){
        document.getElementById("cookies-analytics").checked = true;
      } else {
        document.getElementById("cookies-analytics-2").checked = true;
      }
    }

    document.getElementById("cookie-settings-save").addEventListener("click", saveAnalyticsPrefs);


  }

  initCookieRadios();
</script>
{% endblock content %}
