<meta name="description" content="{{ service_title }}">
<meta name="keywords" content="{{ service_title }}">
<meta name="author" content="{{ service_meta_author }}">

<!--[if gt IE 8]><!-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-4.0.0.min.css') }}" />
<!--<![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-ie8-4.0.0.min.css') }}" /><![endif]-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/tasklist.css') }}">
{% block bodyStart %}
<div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on Access Funding"
    id="cookie-banner" hidden>
    <div class="govuk-cookie-banner__message govuk-width-container" id="cookies-choice-msg">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-m">{% trans %}Cookies on Access Funding{% endtrans %}</h2>
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">{% trans %}We use some essential cookies to make this service work.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}We'd also like to use analytics cookies so we can understand how you use the service and make improvements.{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button" data-module="govuk-button" id="accept_cookies_btn">
                {% trans %}Accept analytics cookies{% endtrans %}
            </button>
            <button type="button" class="govuk-button" data-module="govuk-button" id="deny_cookies_btn">
                {% trans %}Reject analytics cookies{% endtrans %}
            </button>
            <a class="govuk-link" href="{{ url_for('content_routes.cookie_policy') }}">{% trans %}View cookies{% endtrans %}</a>
        </div>
    </div>
    <div class="govuk-cookie-banner__message govuk-width-container" role="alert" id="cookies-accepted-msg" hidden>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">{% trans %}You've accepted analytics cookies. You can{% endtrans %} <a class="govuk-link"
                            href="{{ url_for('content_routes.cookie_policy') }}">{% trans %}change your cookie settings{% endtrans %}</a> {% trans %}at any time.{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button" data-module="govuk-button" name="cookies-hide-btn">
                {% trans %}Hide cookie message{% endtrans %}
            </button>
        </div>
    </div>
    <div class="govuk-cookie-banner__message govuk-width-container" role="alert" id="cookies-rejected-msg" hidden>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-cookie-banner__content">
                    <p class="govuk-body">{% trans %}You've rejected analytics cookies. You can{% endtrans %} <a class="govuk-link"
                            href="{{ url_for('content_routes.cookie_policy') }}">{% trans %}change your cookie settings{% endtrans %}</a> {% trans %}at any time.{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="govuk-button-group">
            <button type="button" class="govuk-button" data-module="govuk-button" name="cookies-hide-btn">
                {% trans %}Hide cookie message{% endtrans %}
            </button>
        </div>
    </div>
</div>
{% endblock bodyStart %}
<script nonce="{{ csp_nonce() }}" type="text/javascript" src="{{ url_for('static', filename='js/fsd_cookies.js') }}"></script>
<script nonce="{{ csp_nonce() }}">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments) }

    function initCookieState() {
        const localConsentMode = readConsentCookie();

        if (!localConsentMode) {
            gtag('consent', 'default', DEFAULT_CONSENT);
            unhideCookiesMessage();
        } else {
            gtag('consent', 'default', readConsentCookie());
        }

        document.getElementById("accept_cookies_btn").addEventListener("click", acceptCookies);
        document.getElementById("deny_cookies_btn").addEventListener("click", denyCookies);
        document.getElementsByName("cookies-hide-btn").forEach(element => {
            element.addEventListener("click", hideCookiesMessage);
        });
    }

    initCookieState();
</script>
<!-- Google Tag Manager -->
<script nonce="{{ csp_nonce() }}">(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M5J9Q8HV');
</script>
<!-- End Google Tag Manager -->
