{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% macro uploadTable(local_authorities, fund_name, reporting_period) %}

    {% set localAuthorities %} {{ ", ".join(local_authorities) if local_authorities|length > 1 else local_authorities[0] }} {% endset %}

    <h1 class="govuk-heading-l">Submit monitoring and evaluation data</h1>

    {{ govukTable({
        "firstCellIsHeader": true,
        "head": [
          {
            "text": ""
          },
          {
            "text": ""
          }
        ],
        "rows": [
          [
            {
              "text": "Fund"
            },
            {
              "html": fund_name
            }
          ],
          [
            {
              "text": "Local authority"
            },
            {
              "text": localAuthorities
            }
          ],
          [
            {
              "text": "Reporting period"
            },
            {
              "text": reporting_period
            }
          ]
        ]
    }) }}

{% endmacro %}
