.govuk-notification-banner {
  padding-bottom: 0;
  margin-bottom: 15px;
}

.overdue-notification-banner {
  background-color: #d4351c;
  border: 5px solid #d4351c;
}

.success-text {
  color: #fff;
}

.govuk-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.govuk-header__navigation {
  margin-left: auto;
}

/* FIND CUSTOM CSS */

.govuk-footer__copyright-logo {
  background-image: url("/static/govuk-frontend/images/govuk-crest.png");
}

.govuk-footer__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-right: -15px;
  margin-left: -15px;

  -ms-flex-align: end;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.global-actions {
  display: flex;
  justify-content: space-between;
}

.scrollable-checkboxes {
  overflow-y: auto;
  max-height: 250px;
}

.card {
  padding: 16px;
  margin: 16px 0;
  background-color: #f3f2f1;
}

/* COMMON CUSTOM CSS */

.button-as-link {
  cursor: pointer !important;

  all: unset; /* Remove default button styles */
}
