
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{ fund_title }}{% endtrans %} {% trans %}{{ round_title }}{% endtrans %}
        </span>
        <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m ">
    {% trans %}Table of contents{% endtrans %}
  </h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#mynegi-diddordeb">
        Mynegi diddordeb
      </a>
    </li>
  </ol>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="mynegi-diddordeb">
    1. Mynegi diddordeb
  </h2>
  <h3 class="govuk-heading-m">
    1.1. Darparwr cymorth datblygu
  </h3>
  <h4 class="govuk-heading-s">
    1.1.1. A hoffech i'r darparwr cymorth datblygu gysylltu â chi, os ydych yn gymwys i gael cymorth manwl?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Rwy'n cytuno y gellir cysylltu â mi os wyf yn gymwys
    </li>
    <li>
      Nid wyf am i neb gysylltu â mi
    </li>
  </ul>
  <p class="govuk-body">
    Os 'Rwy'n cytuno y gellir cysylltu â mi os wyf yn gymwys', ewch i <strong>1.1.1.1</strong>
  </p>
  <p class="govuk-body">
    Os 'Nid wyf am i neb gysylltu â mi ', ewch i <strong>1.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.1.1.1. Beth yw'r prif bethau y mae angen cymorth arnoch gyda nhw er mwyn cyflwyno cais da i'r Gronfa Perchnogaeth Gymunedol yn eich barn chi?
  </h4>
  <p class="govuk-body">
    Dewiswch bob un sy'n berthnasol
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Ysgrifennu cynllun busnes
    </li>
    <li>
      Technegol
    </li>
    <li>
      Rhagolwg ariannol
    </li>
    <li>
      Cyfreithiol
    </li>
    <li>
      Tai
    </li>
    <li>
      Cymorth llywodraethu
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.1.2. Disgrifiwch eich prosiect a'i nodau
  </h4>
  <p class="govuk-body">
    (Max 250 words)
  </p>
  <h4 class="govuk-heading-s">
    1.1.3. Manylion y prif unigolyn cyswllt
  </h4>
  <p class="govuk-body">
    Enw'r prif unigolyn cyswllt
  </p>
  <p class="govuk-body">
    Cyfeiriad e-bost y prif unigolyn cyswllt
  </p>
  <p class="govuk-body">
    Rhif ffôn y prif unigolyn cyswllt
  </p>
  <h3 class="govuk-heading-m">
    1.2. Datganiad
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Cadarnhaf fod y wybodaeth rwyf wedi'i darparu yn gywir
    </li>
  </ul>
  <h3 class="govuk-heading-m">
    1.3. Manylion y sefydliad
  </h3>
  <h4 class="govuk-heading-s">
    1.3.1. Enwau'r sefydliad
  </h4>
  <p class="govuk-body">
    Enwau'r sefydliad
  </p>
  <p class="govuk-body">
    Mae'n rhaid i hwn gyfateb i enw cyfreithiol cofrestredig eich sefydliad.
  </p>
  <p class="govuk-body">
    A oes gan eich sefydliad unrhyw enwau amgen?
  </p>
  <p class="govuk-body">
    Os 'Ydy', ewch i <strong>1.3.1.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.3.1.2. Enwau amgen eich sefydliad
  </h4>
  <p class="govuk-body">
    Enw amgen 1
  </p>
  <p class="govuk-body">
    Enw amgen 2
  </p>
  <p class="govuk-body">
    Enw amgen 3
  </p>
  <h4 class="govuk-heading-s">
    1.3.2. Cyfeiriad y sefydliad
  </h4>
  <h4 class="govuk-heading-s">
    1.3.3. Sut y caiff eich sefydliad ei ddosbarthu
  </h4>
  <p class="govuk-body">
    Dewiswch un opsiwn
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Sefydliad corfforedig elusennol
    </li>
    <li>
      Cydweithrediaeth (er enghraifft, cymdeithas budd cymunedol)
    </li>
    <li>
      Cwmni buddiannau cymunedol
    </li>
    <li>
      Cwmni cyfyngedig drwy warant
    </li>
    <li>
      Sefydliad corfforedig elusennol yn yr Alban
    </li>
    <li>
      Cynghorau plwyf, tref a chymuned
    </li>
    <li>
      Porthladd ymddiriedolaeth
    </li>
    <li>
      Ddim yn gorfforedig eto
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.3.4. A yw eich sefydliad yn destun unrhyw gamau ansolfedd?
  </h4>
  <h3 class="govuk-heading-m">
    1.4. Ynglŷn â'ch ased
  </h3>
  <h4 class="govuk-heading-s">
    1.4.1. A yw eich sefydliad yn bwriadu cael y cyllid a rhedeg y prosiect?
  </h4>
  <p class="govuk-body">
    Rydym yn disgwyl i sefydliadau sy'n gwneud cais am gyllid o'r Gronfa Perchnogaeth Gymunedol reoli'r gwaith o redeg yr ased o ddydd i ddydd. Bydd hyn yn ein helpu i wybod y gall y sefydliad sy'n gwneud y cais redeg busnes cynaliadwy yn nwylo'r gymuned.
  </p>
  <h4 class="govuk-heading-s">
    1.4.2. Y math o ased
  </h4>
  <p class="govuk-body">
    Dewiswch y brif ffordd y caiff yr ased ei ddefnyddio. Er enghraifft, os mai theatr ydyw sydd â chaffi hefyd, dewiswch 'theatr'.
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Canolfan gymunedol
    </li>
    <li>
      Sinema
    </li>
    <li>
      Oriel
    </li>
    <li>
      Amgueddfa
    </li>
    <li>
      Lleoliad cerddoriaeth
    </li>
    <li>
      Parc
    </li>
    <li>
      Adeilad swyddfa bost
    </li>
    <li>
      Tafarn
    </li>
    <li>
      Siop
    </li>
    <li>
      Cyfleuster chwaraeon neu hamdden
    </li>
    <li>
      Theatr
    </li>
    <li>
      Arall
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.4.3. A yw'r ased yn y DU?
  </h4>
  <h4 class="govuk-heading-s">
    1.4.4. Cyfeiriad yr ased
  </h4>
  <p class="govuk-body">
    Enw'r ased
  </p>
  <h4 class="govuk-heading-s">
    1.4.5. A yw'r ased mewn perygl?
  </h4>
  <p class="govuk-body">
    Mae hyn yn golygu bod perygl y bydd y gymuned yn colli'r ased o ganlyniad i:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      benderfyniad i gau neu les yn dod i ben
    </li>
    <li>
      esgeulustod neu gyflwr adfeiliedig
    </li>
    <li>
      model busnes cyfredol anghynaliadwy
    </li>
    <li>
      ar werth
    </li>
    <li>
      wedi'i restru i'w waredu
    </li>
    <li>
      yn rhan o broses trosglwyddo asedau cymunedol
    </li>
  </ul>
  <p class="govuk-body">
    Os 'Ydy', ewch i <strong>1.4.5.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.4.5.1. Beth yw'r perygl i'r ased?
  </h4>
  <p class="govuk-body">
    Dewiswch bob un sy'n berthnasol
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Penderfyniad i gau neu les yn dod i ben
    </li>
    <li>
      Esgeulustod neu gyflwr adfeiliedig
    </li>
    <li>
      Model busnes cyfredol anghynaliadwy
    </li>
    <li>
      Gwerthu
    </li>
    <li>
      Wedi'i restru i'w waredu
    </li>
    <li>
      Rhan o broses trosglwyddo asedau cymunedol
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.4.6. A yw'r ased erioed wedi cael ei ddefnyddio gan y gymuned neu wedi bod yn arwyddocaol iddi?
  </h4>
  <p class="govuk-body">
    Gallai defnydd/arwyddocâd cymunedol ymwneud â'r canlynol (ond heb fod yn gyfyngedig iddynt):
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      canolfannau cymunedol
    </li>
    <li>
      siopau
    </li>
    <li>
      cyfleusterau chwaraeon a hamdden
    </li>
    <li>
      tafarndai a bwytai
    </li>
    <li>
      adeiladau diwylliannol
    </li>
    <li>
      adeiladau treftadaeth
    </li>
  </ul>
  <p class="govuk-body">
    Gallai'r ased fod wedi cael ei ddefnyddio gan y gymuned unrhyw bryd.
  </p>
  <p class="govuk-body">
    Hyd yn oed os ydych yn bwriadu adleoli neu ailadeiladu asedau a ddefnyddiwyd gan y gymuned yn flaenorol, dewiswch 'ydy'.
  </p>
  <h4 class="govuk-heading-s">
    1.4.7. A ydych eisoes yn berchen ar yr ased?
  </h4>
  <p class="govuk-body">
    Os 'Nac ydy', ewch i <strong>1.4.7.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.4.7.1. A yw'r ased yn perthyn i awdurdod cyhoeddus?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Ydy, cyngor tref, plwyf neu gymuned
    </li>
    <li>
      Ydy, math arall o awdurdod cyhoeddus
    </li>
    <li>
      Nac ydy, nid yw'n perthyn i awdurdod cyhoeddus
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.4.7.2. Dewiswch yr opsiwn sy'n cynrychioli'r cam rydych wedi'i gyrraedd yn y broses o brynu'r ased yn y ffordd orau
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Ddim yn gwybod pwy yw'r perchennog
    </li>
    <li>
      Yn gwybod pwy yw'r perchennog ond heb gysylltu
    </li>
    <li>
      Trafodaethau ar gam cynnar
    </li>
    <li>
      Trafodaethau ar gam datblygedig
    </li>
  </ul>
  <h3 class="govuk-heading-m">
    1.5. Eich cais am gyllid
  </h3>
  <h4 class="govuk-heading-s">
    1.5.1. At ba ddiben ydych chi'n bwriadu defnyddio cyllid o'r Gronfa Perchnogaeth Gymunedol?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Prynu lesddaliad
    </li>
    <li>
      Adnewyddu lesddaliad
    </li>
    <li>
      Prynu rhydd-ddaliad
    </li>
    <li>
      Adnewyddu rhydd-ddaliad
    </li>
  </ul>
  <p class="govuk-body">
    Os 'Prynu lesddaliad', ewch i <strong>1.5.1.1</strong>
  </p>
  <p class="govuk-body">
    Os 'Prynu rhydd-ddaliad', ewch i <strong>1.5.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.5.1.1. A fydd gan y lesddaliad o leiaf 15 mlynedd pan fydd eich sefydliad yn cyflwyno cais llawn?
  </h4>
  <h4 class="govuk-heading-s">
    1.5.2. Faint o gyllid cyfalaf ydych chi'n gwneud cais amdano o'r Gronfa Perchnogaeth Gymunedol?
  </h4>
  <p class="govuk-body">
    Costau cyfalaf yw costau prynu neu lesio'ch ased a thalu am waith adnewyddu. Gallwch wneud cais am hyd at £2 filiwn (
  </p>
  <p class="govuk-body">
    £2000000
  </p>
  <p class="govuk-body">
    ) mewn costau cyfalaf o'r Gronfa Perchnogaeth Gymunedol.
  </p>
  <p class="govuk-body">
    Nodwch y swm gan ddefnyddio rhifau yn unig, er enghraifft, 1500000
  </p>
  <h4 class="govuk-heading-s">
    1.5.3. A ydych yn bwriadu gwneud cais am unrhyw gyllid refeniw?
  </h4>
  <p class="govuk-body">
    Mae costau refeniw yn cyfrannu at weithredu'r ased pan fyddwch yn berchen arno. Gallai hyn gynnwys costau cyffredinol, gan gynnwys ar gyfer:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      cyfleustodau
    </li>
    <li>
      staffio
    </li>
  </ul>
  <p class="govuk-body">
    Gallwch wneud cais am hyd at 20% o'ch cais am gyllid cyfalaf, neu £50,000, pa un bynnag yw'r lleiaf.
  </p>
  <h4 class="govuk-heading-s">
    1.5.4. A ydych yn bwriadu sicrhau arian cyfatebol? (naill ai fel arian parod neu mewn nwyddau neu wasanaethau)
  </h4>
  <p class="govuk-body">
    Ystyr arian cyfatebol yw arian a ddarperir gennych chi neu gyllidwr arall. Gall hyn fod ar ffurf arian parod neu drwy roi nwyddau neu wasanaethau er enghraifft.
  </p>
  <p class="govuk-body">
    Os 'Ydy', ewch i <strong>1.5.4.2</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.5.4.1. A yw eich prosiect yn cynnwys elfen dai?
  </h4>
  <h4 class="govuk-heading-s">
    1.5.4.2. A fydd angen caniatâd cynllunio ar gyfer eich prosiect?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Oes
    </li>
    <li>
      Nac oes
    </li>
    <li>
      Ddim yn siŵr
    </li>
  </ul>
  <p class="govuk-body">
    Os 'Oes', ewch i <strong>1.5.4.2.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.5.4.2. O ble rydych yn bwriadu cael arian cyfatebol?
  </h4>
  <p class="govuk-body">
    Gweler Adran 9 o brosbectws y Gronfa Perchnogaeth Gymunedol i gael manylion am ofynion arian cyfatebol a mathau cymwys o arian cyfatebol
  </p>
  <p class="govuk-body">
    .
  </p>
  <p class="govuk-body">
    Gall hyn gynnwys mewn nwyddau neu wasanaethau ac arian cyfatebol fel arian parod.
  </p>
  <p class="govuk-body">
    Dewiswch bob un sy'n berthnasol
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Rhoi gwasanaethau proffesiynol
    </li>
    <li>
      Rhoi nwyddau
    </li>
    <li>
      Gostyngiad ar rydd-ddaliad/lesddaliad
    </li>
    <li>
      Codi arian yn eich cymuned
    </li>
    <li>
      Eich adnoddau ariannol eich hun
    </li>
    <li>
      Cyrff cyhoeddus
    </li>
    <li>
      Gweinyddiaethau datganoledig
    </li>
    <li>
      Elusennau neu ymddiriedolaethau
    </li>
    <li>
      Cyllidwyr y Loteri Genedlaethol
    </li>
    <li>
      Cyfranddaliadau cymunedol
    </li>
    <li>
      Buddsoddwyr cymunedol
    </li>
    <li>
      Benthycwyr eraill
    </li>
    <li>
      Ddim yn siŵr
    </li>
  </ul>
  <p class="govuk-body">
    Os 'Ddim yn siŵr', ewch i <strong>1.5.4.1</strong>
  </p>
  <h4 class="govuk-heading-s">
    1.5.4.2.1. Pa gam ydych chi wedi'i gyrraedd yn y broses o sicrhau caniatâd cynllunio?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Heb ddechrau eto
    </li>
    <li>
      Cam cynnar
    </li>
    <li>
      Cam hwyr
    </li>
    <li>
      Eisoes wedi'i sicrhau
    </li>
  </ul>
  <h4 class="govuk-heading-s">
    1.5.4.2.1. Pa gynnydd ydych chi wedi'i wneud i sicrhau'r arian hwn?
  </h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Heb gysylltu ag unrhyw gyllidwyr eto
    </li>
    <li>
      Wedi cysylltu â rhai cyllidwyr ond heb sicrhau cyllid eto
    </li>
    <li>
      Wedi cysylltu â'r holl gyllidwyr ond heb sicrhau cyllid eto
    </li>
    <li>
      Wedi sicrhau rhywfaint o arian cyfatebol
    </li>
    <li>
      Wedi sicrhau'r holl arian cyfatebol
    </li>
  </ul>
</div>
    </div>
</div>
{% endblock content %}
