{% extends "base.html" %}

{% block pageTitle %}Sorry, there is a problem with the service – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock pageTitle %}

{# Override main width to two thirds #}
{% set mainClasses = "govuk-main-wrapper-l govuk-!-width-two-thirds" %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>
        <h2 class="govuk-heading-m">Tell us if this problem continues</h2>
        <p class="govuk-body">
            Email: <a href="mailto:{{ config['CONTACT_EMAIL'] }}">{{ config['CONTACT_EMAIL'] }}</a><br>
            We aim to respond within 1 to 2 working days
        </p>
        <p class="govuk-body">Do not send your data return or any attachments to this email address.</p>
    </div>
{% endblock content %}
