{% extends "base.html" %}

{%- from "help-links-dropdown.html" import helpLinksDropdown -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukLink -%}

{% block beforeContent %}
{{ super() }}
{% endblock beforeContent %}

{% block content %}
    <h1 class="govuk-heading-xl">Submit monitoring and evaluation data dashboard</h1>

        <h2 class="govuk-heading-m">All funds ({{ authorised_funds | length }})</h2>
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            <dl class="govuk-summary-list">
                {% for fund_code, fund_data in authorised_funds %}

                    {% set local_authorities = fund_data.auth.get_organisations() %}
                    {% set fund = fund_data.fund %}

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <a class="govuk-heading-m govuk-link--no-visited-state" id="{{ fund_code }}"href={{ url_for('main.upload', fund_code=fund_code, round=fund.current_reporting_round) }}> {{ fund.fund_name }}</a>
                            <p class="govuk-body"><b>Local Authority</b></p>
                            <p class="govuk-body"><b>Reporting Period</b></p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <br>
                            <br>
                            <p class="govuk-body"> {{ ", ".join(local_authorities) if local_authorities|length > 1 else local_authorities[0] }} </p>
                            <p class="govuk-body"> {{ fund.current_reporting_period }}</p>

                        </dd>

                      </div>

                {% endfor %}

            </dl>

            {{ helpLinksDropdown() }}

{% endblock content %}
