{% macro errorAccordion(tab_errors) %}.
    <div class="govuk-accordion" data-module="govuk-accordion">
        {% for tab in tab_errors %}
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button">{{ tab }}</span>
                    </h2>
                </div>
                {% for section in tab_errors[tab] %}
                    <div class="govuk-accordion__section-content">
                        <h3 class="govuk-heading-s">{{ section }}</h3>
                        {% for error in tab_errors[tab][section] %}
                            <p class="govuk-body">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
