{% extends "base.html" %}

{%- from "help-links-dropdown.html" import helpLinksDropdown -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% block beforeContent %}
{{ super() }}
{% endblock beforeContent %}

{# Override main width to two thirds #}
{% set mainClasses = "govuk-!-width-two-thirds" %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Sign in to submit your data</h1>
        <p class="govuk-body">Sign in using the Microsoft account for your work email address.
        </p>

        {{ govukButton({
            "text": "Sign in using Microsoft",
            "href": config['AUTHENTICATOR_HOST'] + "/sso/login?return_app=post-award-submit",
            "classes": "login-button"
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Create an account</h2>
        <p class="govuk-body">If you do not already have an account, we emailed you a link inviting you to create one.</p>
        <p class="govuk-body">Check your inbox for an email from ‘Microsoft Invitations on behalf of MHCLG’.</p>
        <p class="govuk-body">If you did not receive an email, you already have an account.</p>

        {{ helpLinksDropdown() }}
    </div>
{% endblock content %}
