{% extends "base.html" %}

{% block pageTitle %}Sorry, there is a problem with the service – {{ config['SERVICE_NAME'] }} – GOV.UK{% endblock pageTitle %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body">Your error code is [XXXX]. Please email us on <a href="mailto:{{ config['CONTACT_EMAIL'] }}">{{ config['CONTACT_EMAIL'] }}</a> and include this error code, so we can investigate this issue and complete your submission</p>
    </div>
</div>
{% endblock content %}
