{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/file-upload/macro.html' import govukFileUpload -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from "govuk_frontend_jinja/components/accordion/macro.html" import govukAccordion -%}
{%- from "govuk_frontend_jinja/components/accordion/macro.html" import govukNotificationBanner -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "errorTable.html" import errorTable -%}

{% block beforeContent %}
{{ super() }}
{% endblock beforeContent %}

{% block content %}

    <main id="main-content" role="main">

        {% if not validation_errors %}

            {% set notificationHTML %}
                {% if days_to_deadline == 0 %}
                    <p class="govuk-notification-banner__heading">Your data return is due today.</p>
                {% elif days_to_deadline == 1 %}
                    <p class="govuk-notification-banner__heading">Your data return is due tomorrow.</p>
                {% elif days_to_deadline > 0 %}
                    <p class="govuk-notification-banner__heading">Your data return is due in {{ days_to_deadline }} days.</p>
                {% else %}
                        <p class="govuk-notification-banner__heading">Your data return is {{ days_to_deadline|abs }} days late.</p>
                {% endif %}
                <p class="govuk-notification-banner__heading">Submit your return as soon as possible to avoid delays in your funding.</p>
            {% endset %}

            {# override default blue banner with red for overdue deadlines #}
            {% if days_to_deadline < 0 %}
                {% set notificationClass %} {{ "overdue-notification-banner" }} {% endset %}
            {% endif %}

            {{ govukNotificationBanner ({
                "html": notificationHTML,
                "classes": notificationClass
            }) }}

            {% set localAuthorities %} {{ ", ".join(local_authorities) if local_authorities|length > 1 else local_authorities[0] }} {% endset %}

            <h1 class="govuk-heading-l">Submit monitoring and evaluation data</h1>

            {{ govukTable({
                "firstCellIsHeader": true,
                "head": [
                  {
                    "text": ""
                  },
                  {
                    "text": ""
                  }
                ],
                "rows": [
                  [
                    {
                      "text": "Fund"
                    },
                    {
                      "html": fund
                    }
                  ],
                  [
                    {
                      "text": "Local authority"
                    },
                    {
                      "text": localAuthorities
                    }
                  ],
                  [
                    {
                      "text": "Reporting period"
                    },
                    {
                      "text": reporting_period
                    }
                  ]
                ]
            }) }}

        {% else %}
            <h2 class="govuk-heading-m">There are errors in your return</h2>
            <p class="govuk-body">The following errors have been found in your return.</p>
            {{ errorTable(validation_errors) }}
            <h2 class="govuk-heading-m">Errors fixed?</h2>
            <h3 class="govuk-heading-s">Re-upload your data return</h3>
        {% endif %}

        <div class="upload-data-container govuk-!-margin-top-5">
            <form method="post" action="{{ url_for('main.upload') }}" enctype="multipart/form-data">
                {% if not pre_error %}
                    <h2 class="govuk-heading-m">Upload your data return</h2>

                    {{ govukFileUpload({'id': 'ingest_spreadsheet',
                     "hint": {"text": ""},
                     "label": {"text": ""},
                     'name': 'ingest_spreadsheet'}) }}
                {% else %}
                     <h2 class="govuk-heading-m">Upload your data return</h2>

                    {{ govukFileUpload({'id': 'ingest_spreadsheet',
                     "hint": {"text": "Upload an Excel file"},
                     "label": {"text": ""},
                     "errorMessage": {"text": pre_error[0]},
                     'name': 'ingest_spreadsheet'}) }}
                {% endif %}
                <p class="govuk-body">When you upload your return, we’ll check it for missing data and formatting errors.</p>

                {{ govukButton({"element": "button",
                "text": "Upload and check for errors",
                "attributes": {
                    "aria-controls": "example-id",
                    "data-tracking-dimension": 123} }) }}
            </form>
        </div>
    </main>

{% endblock content %}
