.govuk-footer__copyright-logo {
    background-image: url("/static/images/govuk-crest.png")
}

.govuk-main-wrapper {
    padding-top: 15px;
}

@media (min-width:48.0625em) {
    .govuk-main-wrapper {
      padding-right: 170px;
    }
  }


.govuk-notification-banner {
  padding-bottom: 0px;
  margin-bottom: 15px;
}
