#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils[toggles]>=5.0.8
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==2.3.3

#-----------------------------------
#   Security
#-----------------------------------
flask-talisman==1.1.0

#-----------------------------------
#   Static Assets
#-----------------------------------
Flask-Assets==2.0
Flask-Compress==1.14
cssmin==0.2.0
pyScss==1.4.0
jsmin==3.0.1
govuk-frontend-jinja==2.7.0

#-----------------------------------
#   i18n
#-----------------------------------
Flask-Babel>=2.0.0

#-----------------------------------
#   Forms
#-----------------------------------
Flask-WTF==1.2.1
email-validator==2.1.1

#-----------------------------------
#   Optional
#-----------------------------------
python-slugify==8.0.4

#Jinja2
