-r requirements.txt
beautifulsoup4
debugpy
dparse>=0.5.2
black
deepdiff
pre-commit~=4.0.0
pytest
pytest-env
pytest-flask
pytest-mock
requests-mock
pip-tools>=6.13.0
invoke>=2.2.0
Flake8-pyproject
werkzeug @ git+https://github.com/communitiesuk/werkzeug-dluhc.git # forked werkzeug package
