.app-ticket-panel {
  display: block;
  margin-right: 0;
  flex-wrap: wrap;
}

.app-ticket-panel__content {
  display: block;
  position: relative;
  background-color: $app-panel-colour;
  padding: 20px;
  flex-grow: 1;
  border-top: 6px solid $govuk-brand-colour;
}
