{% macro feedback_error_summary(error_message, error_href) %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
        <h2 class="govuk-error-summary__title">
            {% trans %}There is a problem{% endtrans %}
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="{{ error_href }}">{{ error_message }}</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
{% endmacro %}
