{% macro checkboxItems(params) %}

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% for item in params['items'] %}
            {% if item %}
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="fund-{{ loop.index }}" name="fund" type="checkbox" value="{{ item.value }}">
                    <label class="govuk-label govuk-checkboxes__label" for="fund">
                        {{ item.text }}
                    </label>
                </div>
            {%- endif -%}
        {%- endfor -%}
      </div>
    </fieldset>
</div>

{% endmacro %}
