{% macro checkboxItems(endpoint, params) %}
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% for item in params %}
            {% if item %}
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{item['id']}}" name="{{endpoint}}" type="checkbox" value="{{ item['id'] }}">
                    <label class="govuk-label govuk-checkboxes__label" for="{{item['id']}}">
                        {{ item['name'] }}
                    </label>
                </div>
            {%- endif -%}
        {%- endfor -%}
      </div>
    </fieldset>
</div>

{% endmacro %}
