{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/footer/macro.html' import govukFooter -%}
{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}


{% block head %}
  <meta name="description" content="{{config['SERVICE_NAME']}}">
  <meta name="keywords" content="GOV.UK, govuk, gov, government, uk, frontend, ui, user interface, jinja, python, flask, port, template, templating, macro, component, design system, html, forms, wtf, wtforms, widget, widgets, demo, example">
  <meta name="author" content="{{config['DEPARTMENT_NAME']}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-4.6.0.min.css') }}" />
  {% assets "css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
    <section class="govuk-main-wrapper">
        <div class="govuk-width-container">
        <h1 class="govuk-heading-xl">Get help</h1>
        <p class="govuk-body">If you are experiencing difficulties with this service or have any questions, you can email us.</p>
        <h2 class="govuk-heading-l govuk-!-margin-top-4">Email</h2>
        <p class="govuk-body"><a class="govuk-link" href="mailto:FSD.Support@levellingup.gov.uk">fsd.support@levellingup.gov.uk</a>.</p>
        <p class="govuk-body">Monday to Friday: 9am to 5pm (except public holidays).</p>
        </div>
    </section>
{% endblock %}


{% block footer %}
{{ govukFooter({}) }}
{% endblock %}
