{% macro outcomeCheckboxItems(params) %}
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% for item in params %}
            {% if item %}
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{ loop.index }}" name="{{item}}" type="checkbox" value="{{ item }}">
                    <label class="govuk-label govuk-checkboxes__label" for="{{ loop.index }}">
                        {{ item }}
                    </label>
                </div>
            {%- endif -%}
        {%- endfor -%}
      </div>
    </fieldset>
</div>

{% endmacro %}
