{% macro selectItems(params) %}
<div class="govuk-form-group">
    <div class="app-c-date-filter govuk-!-margin-bottom-0">
        <label class="govuk-hint">
            Each quarter is inclusive and up to the end of the month, for example, April to the end of June for Q1.
        </label>

        <div id="timeframe" class="govuk-date-input">
            <div class="govuk-date-input__item">
                <label class="govuk-label" for="from-quarter">
                    Financial Quarter
                    </label>
                    <select class="govuk-select" id="from-quarter" name="from-quarter">
                        <option value="Choose Quarter">Choose Quarter</option>
                        {% for item in params['quarter'] %}
                            <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
        </div>

        <div class="govuk-date-input__item">
            <label class="govuk-label" for="from-year">
                Year
            </label>
            <select class="govuk-select" id="from-year" name="from-year">
                <option value="Choose Year">Choose Year</option>
                {% for item in params['year'] %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="govuk-!-display-block govuk-!-margin-top-4">
            <p class="govuk-body">to</p>
        </div>

        <div class="govuk-date-input__item">
            <label class="govuk-label" for="to-quarter">
                Financial Quarter
            </label>
            <select class="govuk-select" id="to-quarter" name="to-quarter">
                <option value="Choose Quarter">Choose Quarter</option>
                {% for item in params['quarter'] %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="govuk-date-input__item">
            <label class="govuk-label" for="to-year">
                Year
            </label>
            <select class="govuk-select" id="to-year" name="to-year">
                <option value="Choose Quarter">Choose Year</option>
                {% for item in params['year'] %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
        </div>

    </div>
</div>

{% endmacro %}
