{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Find monitoring data</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="card">
        <h2 class="govuk-heading-l">Filter then download</h2>
        <p class="govuk-body">You can filter data by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>fund</li>
          <li>reporting period</li>
          <li>region</li>
          <li>funded organisation</li>
          <li>outcome</li>
          <li>dataset</li>
        </ul>
        {{ govukButton({
          'text': "Start filtering",
          'href': '/start',
          'classes': 'green-button',
        }) }}
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="card">
        <h2 class="govuk-heading-l">Download everything</h2>
        <p class="govuk-body">Skip filtering and download all the data.</p>
        <form method="post" action="{{ url_for('main.start_page') }}">
          {{ form.csrf_token }}
          {{ form.file_format }}
          {{ govukButton({
            'text': "Create file and download everything",
            'classes': 'green-button',
          }) }}
        </form>
      </div>
    </div>
  </div>

  <br>

  <h2 class="govuk-heading-l">Understanding your data file</h2>
  <p class="govuk-caption-m">
    Check the meanings of terms and data in the
    <a href="https://find-monitoring-data.access-funding.levellingup.gov.uk/data-glossary">
      data extract glossary
    </a>.
  </p>

{% endblock %}
