name: Run tests
on: [push]
jobs:
  run_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    services:
      postgres:
        # Docker Hub image
        image: postgres:16.13@sha256:78df81b1442dcc764c1104154da7162635e40cfffe67579c42a1c1b96dfc209c
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: data_store_test
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
      localstack:
        image: localstack/localstack:3.8@sha256:b279c01f4cfb8f985a482e4014cabc1e2697b9d7a6c8c8db2e40f4d9f93687c7
        env:
          # these match the values in config/unit_test.py
          AWS_REGION: eu-central-1
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
        ports:
          - 4566:4566
          - 4571:4571
        options: --health-cmd="curl http://localhost:4566/health" --health-interval=10s --health-timeout=10s --health-retries=10
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5
      with:
        enable-cache: true
        github-token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
    - name: Run tests
      run: uv run --frozen pytest tests
  check_db:
    name: Check DB migrations
    runs-on: ubuntu-latest
    services:
      postgres:
        # Docker Hub image
        image: postgres:16.13@sha256:78df81b1442dcc764c1104154da7162635e40cfffe67579c42a1c1b96dfc209c
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: data_store_test
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5
      with:
        enable-cache: true
        github-token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
    - name: Check DB is up to date
      env:
        FLASK_ENV: unit_test
      run: uv run --frozen flask db upgrade && uv run --frozen flask db check
    - name: Check that .current-alembic-head is pinned
      env:
        FLASK_ENV: unit_test
      run: |
        uv run --frozen flask db current | grep "$(cat ./db/migrations/.current-alembic-head) (head)"

  type_checks:
    name: Type checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5
      with:
        enable-cache: true
        github-token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
    - name: Run static type checks with Mypy
      run: uv run --frozen mypy .
